/*This consult_register.css contains all the stylesheets for the consult register template, it is divided into 6
sections: Wrapper, Table, Forms, Cancel and Update Form, Pagination and No Data*/


/*######################################################## Titles ###################################################*/

h2,h3{
    margin-left: 1%;
}

/*########################################################## Table ###################################################*/

h3:first-child{
    display: none;
}

/*########################################################## Forms ###################################################*/

.filter-container__filter-form--display{
    transform: translateY(7%);
}

/*######################################### Cancel and Update Form Modal #############################################*/

#cancel-appointment-form h4{
    text-align: left;
}

.create-update-appointment-loader{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid #FFFFFF;
    position: absolute;
    top: 8%;
    left: 61.5%;
    visibility: hidden;
    animation: spin 1s linear infinite;
}

.create-update-appointment-loader--display{
    visibility: visible;
}