/*This consults.css stylesheet contains all the styles needed to display the consults main page, it is divided in 4
sections, Table, PopUp and Modal and No Data*/

h2{
    margin-left: 1%;
}

/*#################################################### Paginator #########################################################*/

#paginator{
    position: absolute;
    width: 49%;
    top: 13.5%;
    left: 50%;
    font-size: 18px;
}

#navigation{
    width: 10%;
    float: right;
}

#paginator i{
    font-size: 24px;
}

/*#################################################### Table #########################################################*/

table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

#heading{
    cursor: default;
    color: #FFFFFF;
    background-color: rgba(255,255,255,0.3);
}

.fa-exclamation-circle{
    color: #CBA415;
}

tr{
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
    animation: show-up 0.5s linear forwards;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
    transition: background-color 0.5s;
}

tr:nth-child(even){
    background-color: rgba(255,255,255,0.2);
    transition: background-color 0.5s;
}

/*#################################################### PopUp #########################################################*/

.popup{
    position: absolute;
    left: 83.8%;
    margin-top: -35px;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    z-index: 1;
}

.popup-show{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.popup-text{
    font-size: 10px;
    color: #FFFFFF;
    padding: 5px;
}

/*Needed to display the arrow in the popup*/
.popup-text:after{
    content: " ";
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent transparent transparent;
    position: absolute;
    top: 112%;
    left: 92%;
}

/*#################################################### Modal #########################################################*/

.modal-content{
    display: inline-block;
    margin-left: 25%;
    width: 50%;
}

/*Modal Form*/

form{
    border-radius: 25px;
    text-align: center;
    width: 50%;
    margin-top: 5.5%;
    margin-left: 22%;
    padding: 10px 30px 10px 30px;
    background-color: rgba(255,255,255,0.1);
}

.error{
    color: #FFFFFF;
}

#add_new_patient{
    text-decoration: underline;
    transition: all 0.5s;
}

.add_new_patient_hover{
    font-size: 16px;
    transition: font-size 0.5s;
}

form button{
    width: 30%;
    height: 30px;
    border-radius: 10px;
}

/*Button above the table*/

button{
    margin: 0px 0px 10px 10px;
    width: 10%;
    height: 30px;
}

/*#################################################### No Data #######################################################*/

#no-consults{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.no-consults-hide{
    display: none;
}

#add-consult{
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    transition: top 0.5s, color 0.5s;
}

.add-consult-hover{
    color: #25BB41;
    transition: color 0.5s;
}

.add-consults-hide{
    opacity: 0;
    transition: 0.5s;
}
