/*This consults.css stylesheet contains all the styles needed to display the consults main page, it is divided in 4
sections, Table, PopUp and Modal and No Data*/

/*#################################################### Paginator #########################################################*/


#paginator{
    position: absolute;
    width: 49%;
    top: 13.5%;
    left: 50%;
    font-size: 18px;
}

#navigation{
    width: 10%;
    float: right;
}

#paginator i{
    font-size: 24px;
}

.fa-angle-left{
    cursor: pointer;
    transition: 0.5s;
    float: left;
}

.fa-angle-right{
    cursor: pointer;
    transition: 0.5s;
    float: right;
}

.fa-angle-hover{
    color: #00CCFF;
    transition: 0.5s;
}


/*#################################################### Table #########################################################*/

table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

#heading{
    background-color: #456387;
    color: #FFFFFF;
    cursor: default;
}

.fa-plus{
    padding: 5px 10px 5px 5px;
    cursor: pointer;
    transition: 0.5s;
}

.fa-plus-hover{
    color: #25BB41;
    transition: color 0.5s;
}

.fa-edit{
    cursor: pointer;
    transition: 0.5s;
}

.fa-edit-hover{
    color: #CBA415;
    transition: color 0.5s;
}

.fa-exclamation-circle{
    color: #CBA415;
}

tr{
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: #6082AD;
    transition: background-color 0.5s;
}

tr:nth-child(even){
    background-color: #6E8DB4;
    transition: background-color 0.5s;
}

#status-0{
    background-color: #EAC234;
    color: #000000;
}

/*#################################################### PopUp #########################################################*/

.popup{
    position: absolute;
    z-index: 1;
    left: 83.8%;
    margin-top: -35px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.popup-show{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

.popup-text{
    font-size: 10px;
    background-color: #CBA415;
    color: #496897;
    padding: 5px;
}

/*Needed to display the arrow in the popup*/
.popup-text:after{
    content: " ";
    border-width: 5px;
    border-style: solid;
    border-color: #CBA415 transparent transparent transparent;
    position: absolute;
    top: 112%;
    left: 92%;
}

/*#################################################### Modal #########################################################*/
.modal{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal-show{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}

.modal-content{
    display: inline-block;
    margin-left: 25%;
    width: 50%;
}

/*Modal Form*/
form{
    text-align: center;
    background-color: #5A7FAF;
    margin-top: 10%;
    width: 50%;
    margin-left: 22%;
    padding: 10px 30px 10px 30px;
}

.error{
    color: #FFFFFF;
}

#add_new_patient{
    text-decoration: underline;
    transition: all 0.5s;
}

.add_new_patient_hover{
    font-size: 16px;
    transition: font-size 0.5s;
}

textarea{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #FFFFFF;
  background-color: #5A7FAF;
  border: 1px solid #C7E8F3;
  resize: none;
}

textarea:focus{
    outline: none;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #FFFFFF;
  background-color: #5A7FAF;
  border: none;
  border-bottom: 1px solid #C7E8F3;
  height: 30px;
  width:60%;
  margin: 5px;
}

select:focus{
    outline: none;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-color: #5A7FAF;
  border: none;
  border-bottom: 1px solid #C7E8F3;
  height: 30px;
  width:60%;
}

input:focus{
    outline: none;
}

form button{
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #5A7FAF;
    border-color: #C7E8F3;
    border-radius: 10px;
    color: #FFFFFF;
}

/*Button above the table*/
button{
    margin-bottom: 10px;
    width: 10%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #5A7FAF;
    border: 1px solid #C7E8F3;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

button:focus{
    outline: none;
}

.button-hover{
    background-color: #C7E8F3;
    color: #496897;
    transition: background-color 0.5s, color 0.5s;
}

/*#################################################### No Data #######################################################*/

#no-consults{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.no-consults-hide{
    display: none;
}

#add-consult{
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    transition: top 0.5s, color 0.5s;
}

.add-consult-hover{
    color: #25BB41;
    transition: color 0.5s;
}

.add-consults-hide{
    opacity: 0;
    transition: 0.5s;
}
