body{
    background-color: #12212b;
}

#heading{
    text-align: center;
}

.general-info{
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-gap: 1%;
}

.exploration{
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-gap: 1%;
}

.general{
    border: 1px solid #0ff5fc;
    padding: 10px;
    max-height: 320px;
    overflow: auto;
}

.vital-signs{
    border: 1px solid #0ff5fc;
    padding: 10px;
}

.organ-systems{
    border: 1px solid #0ff5fc;
    padding: 10px;
    max-height: 320px;
    overflow: auto;
}

.physical{
    border: 1px solid #0ff5fc;
    padding: 10px;
    max-height: 320px;
    overflow: auto;
}

.diagnose{
    margin-top: 2%;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
}

.treatment{
    margin-top: 1%;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
}

hr{
    border: 1px solid #0ff5fc;
}

.fa-print{
    font-size: 32px;
    margin-bottom: 2%;
    transition: 0.5s;
}

.fa-print-hover{
    font-size: 36px;
    color: green;
    transition: 0.5s;
}
