body{
    background-color: #12212b;
}

#heading{
    text-align: center;
}

hr{
    border: 1px solid cyan;
}

.fa-download{
    float: right;
    transition: 0.5s;
}

.fa-download:hover{
    float: right;
    font-size: 36px;
    color: green;
    transition: 0.5s;
}