table{
    background-color: #12212b;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

#heading{
    background-color: #12212b;
    color: cyan;
    cursor: default;
    transition: 0.5sl
}

#heading:hover a{
    color: cyan;
    transition: 0.5s;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: cyan;
}

tr:nth-child(odd){
    background-color: #3d6685;
    transition: 0.5s;
}

tr:nth-child(even){
    background-color: #2a465c;
    transition: 0.5s;
}

tr:nth-child(odd):hover {
    background-color: cyan;
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

tr:nth-child(odd):hover td{
    color: #12212b;
}

tr:nth-child(odd):hover a{
    color: #12212b;
}

tr:nth-child(even):hover{
    background-color: cyan;
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

tr:nth-child(even):hover td{
    color: #12212b;
}

tr:nth-child(even):hover a{
    color: #12212b;
}

#no-consults{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#add-consult{
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

#status-0{
    background-color: yellow;
    color: #12212b;
    height: 100%;
}

#status-1{
    background-color: green;
    color: #12212b;
    height: 100%;
}


#no-consults{
    position:absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}