/*Checked*/
/*Wrapper*/
.wrapper{
    display: grid;
    grid-template-columns: 80% 19%;
    grid-gap: 1%;
}

/*Table*/
table{
    background-color: #12212b;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

#heading{
    background-color: #12212b;
    color: cyan;
    line-height: 25px;
    cursor: default;
}

tr{
    transition: 0.5s;
    line-height: 20px;
    margin: 10px;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #0ff5fc;
}

tr:nth-child(odd){
    background-color: #3d6685;
    transition: 0.5s;
}

tr:nth-child(even){
    background-color: #2a465c;
    transition: 0.5s;
}

.tr-hover{
    background-color: #0ff5fc;
    cursor: pointer;
    color: #12212b;
    transition: 0.5s;
}

.td-hover{
    color: #12212b;
}

#Open{
    background-color: #ffe100;
    color: #12212b;
    height: 100%;
}

#Confirmed{
    background-color: #32a852;
    color: #12212b;
    height: 100%;
}

#Canceled{
    background-color: #b5b3a7;
    color: #12212b;
    height: 100%;
}

#Closed{
    background-color: #a83632;
    color: #12212b;
    height: 100%;
}

#never_attended{
    background-color: #a83632;
    color: #12212b;
    height: 100%;
}

#pending{
    background-color: #ffe100;
    color: #12212b;
    height: 100%;
}

#attended{
    background-color: #32a852;
    color: #12212b;
    height: 100%;
}

/*Form*/

.fa-filter{
    margin-top: 20%;
    float: left;
    transition: 0.5s;
}

form{
    text-align: center;
    background-color: #12212b;
    padding: 10px;
    margin-top: -200%;
    transition: 0.5s;
    visibility: hidden;
    transition: 0.5s;
}

.show-form{
    visibility: visible;
    margin-top: 35%;
    transition: 0.5s;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #0ff5fc;
  background-color: #12212b;
  border: none;
  border-bottom: 1px solid #0ff5fc;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

input:focus{
    outline: : none;
}

.input-hover{
  width: 75%;
  transition: 0.5s;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #0ff5fc;
  background-color: #12212b;
  border: none;
  border-bottom: 1px solid #0ff5fc;
  height: 30px;
  width:60%;
  margin: 5px;
  transition: 0.5s;
}

select:focus{
    outline: none;
}

button{
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #12212b;
    border-color: #0ff5fc;
    border-radius: 10px;
    color: #0ff5fc;
}

button:focus{
    outline: none;
}

.button-form-hover{
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

.button-hover{
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

/*Pagination*/
.pagination{
    list-style: none;
}

.disabled{
    color: #12212b;
    background-color: #0ff5fc;
    cursor: not-allowed;
}

#active{
    color: #12212b;
    background-color: #0ff5fc;
    cursor: not-allowed;
}

.pagination li{
    display: inline;
    border: 1px solid #0ff5fc;
    margin: 1%;
    padding: 1%;
}

.pagination li:hover{
    color: #12212b;
    background-color: #0ff5fc;
    transition: 0.5s;
    cursor: pointer;
}

.list-container{
    background-color: #12212b;
    padding: 0.5%;
}


/*Consults*/
#no-consults{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
