/*This registers.css stylesheet contains all the styles needed to display the registers template, it is divided into 5
sections: Wrapper, Table, Forms, Pagination, No Data*/

/*########################################################## Wrapper #################################################*/

.wrapper{
    display: grid;
    grid-template-columns: 80% 19%;
    grid-gap: 1%;
}

/*########################################################## Table ###################################################*/

table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

#heading{
    background-color: #456387;
    line-height: 25px;
    cursor: default;
}

tr{
    cursor: pointer;
    line-height: 20px;
    margin: 10px;
    transition: 0.5s;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: #6082AD;
    transition: 0.5s;
}

tr:nth-child(even){
    background-color: #6E8DB4;
    transition: 0.5s;
}

#Open{
    background-color: #EAC234;
    color: #12212b;
    height: 100%;
}

#Confirmed{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

#Cancelled{
    background-color: #95B6C6;
    color: #12212b;
    height: 100%;
}

#Closed{
    background-color: #D73533;
    color: #12212b;
    height: 100%;
}

#never_attended{
    background-color: #D73533;
    color: #12212b;
    height: 100%;
}

#pending{
    background-color: #EAC234;
    color: #12212b;
    height: 100%;
}

#attended{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

/*########################################################## Forms ###################################################*/

.fa-filter{
    margin-top: 20%;
    float: left;
    cursor: pointer;
    transition: 0.5s;
}

.fa-filter-hover{
    color: #00CCFF;
    transition: 0.5s;
}

form{
    text-align: center;
    background-color: #5A7FAF;
    padding: 10px;
    transform: translateY(-200%);
    transition: 0.5s;
    visibility: hidden;
    transition: 0.5s;
}

.error{
    color: #FFFFFF;
}

.show-form{
    visibility: visible;
    transform: translateY(23%);
    transition: transform 0.5s ease-out;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-color: #5A7FAF;
  border: none;
  border-bottom: 1px solid #C7E8F3;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

input:focus{
    outline: : none;
}

.input-hover{
  width: 75%;
  transition: 0.5s;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #FFFFFF;
  background-color: #5A7FAF;
  border: none;
  border-bottom: 1px solid #C7E8F3;
  height: 30px;
  width:60%;
  margin: 5px;
  transition: 0.5s;
}

select:focus{
    outline: none;
}

button{
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #5A7FAF;
    border-color: #C7E8F3;
    border-radius: 10px;
    color: #FFFFFF;
}

button:focus{
    outline: none;
}

.button-form-hover{
    background-color: #C7E8F3;
    color: #496897;
    transition: 0.5s;
    cursor: pointer;
}

.button-hover{
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

/*########################################################## Pagination ##############################################*/

.pagination{
    list-style: none;
}

.disabled{
    color: #12212b;
    background-color: #0ff5fc;
    cursor: not-allowed;
}

#active{
    color: #12212b;
    background-color: #0ff5fc;
    cursor: not-allowed;
}

.pagination li{
    display: inline;
    border: 1px solid #0ff5fc;
    margin: 1%;
    padding: 1%;
}

.pagination li:hover{
    color: #12212b;
    background-color: #0ff5fc;
    transition: 0.5s;
    cursor: pointer;
}

.list-container{
    background-color: #12212b;
    padding: 0.5%;
}


/*########################################################## No Data #################################################*/


#no-consults{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
