/*This registers.css stylesheet contains all the styles needed to display the registers template, it is divided into 5
sections: Wrapper, Table, Forms, Pagination, No Data*/

/*########################################################## Title and Info #################################################*/

h2, #item-count{
    margin-left: 1%;
}

.data-table-container{
    max-height: 731px;
}

.filter-container__filter-form--display{
    transform: translateY(8%);
}

.filter-container__filter-form button{
    width: 25%;
}