{%extends 'base.html'%}
{%load static%}
{%block title%}Home{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'home/css/home.css'%}">
<div class="container">
    <h1>Menu</h1>
    <div class="wrapper-one">
        <a href="{%url 'patients:patients'%}">
            <div>
                <i class="fas fa-user-injured"></i>
                <h3>Patients</h3>
            </div>
        </a>
        <a href="">
            <div>
                <i class="far fa-calendar-check"></i>
                <h3>Appointments</h3>
            </div>
        </a>
        <a href="">
            <div>
                <i class="far fa-clipboard"></i>
                <h3>Records</h3>
            </div>
        </a>
        <a href="">
            <div>
                <i class="fas fa-file-invoice"></i>
                <h3>Reports</h3>
            </div>
        </a>
    </div>

    <div class="wrapper-two">
        <a href="">
            <div>
                <i class="fas fa-handshake"></i>
                <p>Providers</p>
            </div>
        </a>
        <a href="{%url 'settings:settings'%}">
            <div>
                <i class="fas fa-cog"></i>
                <p>Settings</p>
            </div>
        </a>
        <a href="{%url 'accounts:profile'%}">
            <div>
                <i class="fas fa-user"></i>
                <p>Profile</p>
            </div>
        </a>
        <a href="{%url 'accounts:logout'%}">
            <div>
                <i class="fas fa-sign-out-alt"></i>
                <p>Log Out</p>
            </div>
        </a>
    </div>
</div>
{%endblock%}