{%load static%}
{%if providers%}
    <div>
        <table>
            <thead>
                <tr id="heading">
                    <th>Company</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    {%if requested_type == 'LP'%}
                    <th><i class="fas fa-plus" data-url="{%url 'providers:create_provider'%}" data-provider-type="LP"></i></th>
                    {%else%}
                    <th><i class="fas fa-plus" data-url="{%url 'providers:create_provider'%}" data-provider-type="MP"></i></th>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                {%for provider in providers%}
                <tr data-url="{%url 'providers:provider_details' provider.pk %}">
                    <td>{{provider.company}}</td>
                    <td>{{provider.address}}</td>
                    <td>{{provider.contact}}</td>
                    <td>{{provider.email}}</td>
                    <td><i class="fas fa-edit" data-url="{%url 'providers:update_provider' provider.pk %}"></i></td>
                    <td><i class="fas fa-trash" data-url="{%url 'providers:delete_provider' provider.pk %}"></i></td>
                    <td><i class="fas fa-envelope"></i></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div>
        <i class="fas fa-filter"></i>
        {%if requested_type == 'LP'%}
        <form method="GET" action="{%url 'providers:providers_filter'%}" class="filter-form laboratories-filter-form" autocomplete="off">
            {%csrf_token%}
            <h2>Filter Result</h2>
            <p>{{filter_form.company.label}}</p>
            <p>{{filter_form.company}}</p>
        </form>
        {%else%}
        <form method="GET" action="{%url 'providers:providers_filter'%}" class="filter-form medical-provider-filter-form" autocomplete="off">
            {%csrf_token%}
            <h2>Filter Result</h2>
            <p>{{filter_form.company.label}}</p>
            <p>{{filter_form.company}}</p>
        </form>
        {%endif%}
    </div>
{%else%}
    <p class="no-providers">No providers of this category listed</p>
    {%if requested_type == 'LP'%}
    <i class="fas fa-plus add-providers" data-url="{%url 'providers:create_provider'%}" data-provider-type="LP"></i>
    {%else%}
    <i class="fas fa-plus add-providers" data-url="{%url 'providers:create_provider'%}" data-provider-type="MP"></i>
    {%endif%}
{%endif%}