<!--This template will be rendered with the filtered instances retrieved from the database-->
{%load static%}
<!--If data is present, this will be executed.-->
{%if providers%}
    <!--For each instance-->
    {%for provider in providers%}
    <tr data-url="{%url 'providers:provider_details' provider.pk %}">
        <td>{{provider.company}}</td>
        <td>{{provider.address}}</td>
        <td>{{provider.contact}}</td>
        <td>{{provider.email}}</td>
        <td><i class="fas fa-edit" data-url="{%url 'providers:update_provider' provider.pk %}"></i></td>
        <td><i class="fas fa-trash" data-url="{%url 'providers:delete_provider' provider.pk %}"></i></td>
        <td><i class="fas fa-envelope"></i></td>
    </tr>
    {%endfor%}
<!--If data is not present, this will be executed.-->
{%else%}
    <p class="no-providers">No providers of this category listed</p>
{%endif%}