.container{
    position: absolute;
    top: 10%;
    left: 10%;
    color: #3e5278;
    width: 80%;
    height: 80%;
}

h1{
    color: #0ff5fc;
}

.wrapper-one{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
}

.wrapper-one div{
    text-align: center;
    padding: 20%;
    background-color: #3e5278;
    border: 0.5px solid #0ff5fc;
    transition: 0.5s;
    color: #0ff5fc;
}

a{
    color: inherit;
    font-size: 50px;
}

.wrapper-one div:hover{
    background-color: #f2f1ed;
    transition: 0.5s;
    color: #3e5278;
    border: none;
}

.wrapper-two{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    margin-top: 20px;
}

.wrapper-two div{
    text-align: center;
    padding: 20%;
    background-color: #3e5278;
    border: 0.5px solid #0ff5fc;
    transition: 0.5s;
    color: #0ff5fc;
}


.wrapper-two div:hover{
    background-color: #f2f1ed;
    transition: 0.5s;
    color: #3e5278;
    border: none;
}