/*Checked*/
/*Container*/
.container{
    position: absolute;
    top: 15%;
    left: 10%;
    color: #3e5278;
    width: 80%;
    height: 80%;
}

/*Menu Title*/
h1{
    color: #0ff5fc;
}

/*Wrapper One Top*/
.wrapper-one{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    transition: 0.5s;
}

.wrapper-two{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    margin-top: 10px;
}

.tile{
    text-align: center;
    padding: 20%;
    background-color: #3e5278;
    border: 0.5px solid #0ff5fc;
    transition: background-color 0.5s;
    color: #0ff5fc;

}

.tile-hover{
    background-color: #f2f1ed;
    transition: background-color 0.5s;
    color: #3e5278;
    border: none;
    cursor: pointer;
}

a{
    color: inherit;
}

i{
    font-size: 50px;
    transition: 0.5s;
    pointer-events: none;
}

.i-hover{
    font-size: 60px;
    transition: 0.2s;
}

h3{
    transition: 0.5s;
    pointer-events: none;
}

.h3-hover{
    font-size: 20px;
    transition: 0.5s;
}

/*Modal*/
.modal{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.modal-show{
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
/*Modal Content*/
.modal-content{
    background-color: #12212b;
    text-align: center;
    width: 40%;
    padding: 2%;
    margin-left: 28%;
    margin-top: 20%;
}

button{
    background-color: #12212b;
    color: #0ff5fc;
    border-radius: 10px;
    border-color: #0ff5fc;
    width: 20%;
    height: 30px;
    transition: 0.5s;
}

button:focus{
    outline: none;
}

.button-hover{
    background-color: #0ff5fc;
    color: #12212b;
    cursor: pointer;
    transition: 0.5s;
}