/* This home.css file contains all the styles needed to present the home page correctly. */

/*//////////////////////////////////////////////////// Container /////////////////////////////////////////////////////*/

.container{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 80%;
}

/*//////////////////////////////////////////////////// Menu Title ////////////////////////////////////////////////////*/

h1{
    transition: all 0.5s;
}

/*//////////////////////////////////////////////////// Search Bar ////////////////////////////////////////////////////*/

#search-bar{
    position: absolute;
    top: 6%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 57%;
    height: 30px;
    padding-left: 10px;
    border: none;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

#search-bar:focus{
    outline: none;
}

/*//////////////////////////////////////////////////// Query Results /////////////////////////////////////////////////*/

.query-results{
    position: absolute;
    top: 24%;
    left: 10%;
    width: 82%;
    max-height: 74%;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
}

table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

tr{
    line-height: 15px;
    max-line-height: 15px;
    cursor: pointer;
    transition: 0.5s;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.query-results img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 2px;
}

tr:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
}

tr:nth-child(even){
    background-color: rgba(255,255,255,0.2);
}

.query-results-show{
    opacity: 1;
    visibility: visible;
}

.no-results{
    margin-left: 45%;
    margin-top: 20%;
}

.hide-menu{
    opacity: 0;
    visibility: hidden;
}

/*//////////////////////////////////////////////////// Top Wrapper ///////////////////////////////////////////////////*/

.wrapper-one{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
}

/*//////////////////////////////////////////////////// Bottom Wrapper ////////////////////////////////////////////////*/

.wrapper-two{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    margin-top: 20px;
}

/*/////////////////////////////////////////////////////// Tiles //////////////////////////////////////////////////////*/

.tile{
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    padding: 20%;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transition: background-color 0.5s;
    animation: show-up 0.5s linear forwards;
}

.tile-hover{
    border: none;
    color: #000000;
    background-color: #FFFFFF;
    transition: background-color 0.5s;
}

.tile-hover h3{
    color: #000000;
}

.tile-icon{
    font-size: 50px;
    pointer-events: none;
}

h3{
    pointer-events: none;
}

/*//////////////////////////////////////////////////// Modal Content /////////////////////////////////////////////////*/

.modal-content{
    text-align: center;
    width: 40%;
    padding: 2%;
    margin-left: 28%;
    margin-top: 25%;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
}

button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s;
}

button:focus{
    outline: none;
}

.button-hover{
    color: #000000;
    background-color: #FFFFFF;
    transition: background-color 0.5s, color 0.5s,;
}

