/* This home.css file contains all the styles needed to present the home page correctly. */

/*//////////////////////////////////////////////////// Main Menu /////////////////////////////////////////////////////*/

.main-menu{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.main-menu__title{
    position: absolute;
    top: -2%;
    left: 5%;
    transition: all 0.5s;
}

.main-menu__search-bar{
    position: absolute;
    top: 6%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 57%;
    height: 30px;
    padding-left: 10px;
    border: none;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

.main-menu__search-bar:focus{
    outline: none;
}

.main-menu__upper-row{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 15px;
    margin-top: 100px;
}

.main-menu__lower-row{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 15px;
    margin-top: 20px;
}

.main-menu__elements--fade-out{
    opacity: 0;
    visibility: hidden;
}

.main-menu__tile{
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    padding: 20%;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transition: background-color 0.5s;
    animation: show-up 0.5s linear forwards;
}

.main-menu__tile--active{
    border: none;
    color: #000000;
    background-color: #FFFFFF;
    transition: background-color 0.5s;
}

.main-menu__tile--active h3{
    color: #000000;
}

.main-menu__tile-icon{
    font-size: 50px;
    pointer-events: none;
}

.main-menu__tile-title{
    pointer-events: none;
}

.main-menu__single-row{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 15px;
}

/*//////////////////////////////////////////////////// Query Results /////////////////////////////////////////////////*/

.data-table__query-results{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 82%;
    max-height: 74%;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
}

.data-table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
}

.data-table__item{
    line-height: 15px;
    max-line-height: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.data-table__data{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-table__query-results img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 2px;
}

.data-table__item:nth-child(odd){
    background-color: rgba(255,255,255,0.1);

}

.data-table__item:nth-child(even){
    background-color: rgba(255,255,255,0.2);
}

.data-table__query-results--display{
    opacity: 1;
    visibility: visible;
}

.no-data{
    margin-left: 45%;
    margin-top: 20%;
}


/*//////////////////////////////////////////////////// Modal Content /////////////////////////////////////////////////*/

.modal--display{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}

.modal__modal-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 35%;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    background-clip: padding-box;
}

.modal__logout-loader{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0);
    border-top: 2px solid #FFFFFF;
    position: absolute;
    top: 10%;
    left: 92%;
    visibility: hidden;
    animation: spin 1s linear infinite;
}

.modal__logout-loader--display{
    visibility: visible;
}

.modal__button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s;
}

.modal__button:focus{
    outline: none;
}

.modal__button--active{
    color: #000000;
    background-color: #FFFFFF;
    transition: background-color 0.5s, color 0.5s,;
}

