{%extends 'base.html'%}
{%load static%}
{%block title%}Allergies{%endblock%}
{%block return%}<a href="{%url 'settings:settings'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'settings/css/allergies_list.css'%}">
    {%if allergies%}
        <h1>Allergies Created</h1>
            <table>
                <tr id="heading">
                    <th>Allergy</th>
                </tr>
                {%for a in allergies%}
                    <tr onclick="window.location='{%url 'settings:allergies_details' a.pk%}'">
                        <td>{{a.allergy_type}}</td>
                    </tr>
                {%endfor%}
            </table>
    {%else%}
        <p id="no-allergies">There are no allergies listed</p>
    {%endif%}
{%endblock%}