<!--Checked-->
{%extends 'base.html'%}
{%load static%}
{%block title%}Delete Allergy{%endblock%}
{%block return%}<a href="{%url 'settings:allergies_details' allergy.pk%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'settings/css/allergy_delete.css'%}">
<form method="POST">
    {%csrf_token%}
    <h1>{{allergy.allergy_type}}</h1>
    <h3>Are you sure you want to delete this allergy?</h3>
    <label for="yes"></label>
    <input id="yes" type="submit" name="choice" value="yes">
    <label for="no"></label>
    <input id="no" type="submit" name="choice" value="no">
</form>
<script src="{%static 'settings/js/allergy_delete.js'%}"></script>
{%endblock%}