{%load static%}

{% load settings_custom_tags %}

{% if drugs.has_other_pages %}
    <div id="paginator">
        <span> {{ drugs.number }} / {{ drugs.paginator.num_pages }} </span>
        <div id="navigation">
            {% if filtered %}
                {% if drugs.has_previous %}<i class="fas fa-angle-left" data-url="{% url 'settings:filter_drugs' %}{% current_url 'page' drugs.previous_page_number request.GET.urlencode %}"></i>{% endif %}{% if drugs.has_next %}<i class="fas fa-angle-right" data-url="{% url 'settings:filter_drugs' %}{% current_url 'page' drugs.next_page_number request.GET.urlencode %}"></i>{% endif %}
            {% else %}
                {% if drugs.has_previous %}<i class="fas fa-angle-left" data-url="{% url 'settings:drugs_list' %}{% current_url 'page' drugs.previous_page_number request.GET.urlencode %}"></i>{% endif %}{% if drugs.has_next %}<i class="fas fa-angle-right" data-url="{% url 'settings:drugs_list' %}{% current_url 'page' drugs.next_page_number request.GET.urlencode %}"></i>{% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}

{%if drugs%}
     {%for d in drugs%}
        <tr data-url="{%url 'settings:drug_details' d.pk%}">
            <td>{{d.name}}</td>
            <td>{{d.get_category_display}}</td>
            <td><i class="fas fa-edit" data-url="{%url 'settings:update_drug' d.pk%}"></i></td>
            <td><i class="fas fa-trash" data-url="{%url 'settings:delete_drug' d.pk%}"></i></td>
            <td></td>
        </tr>
    {%endfor%}
{%else%}
    <p class="no-data">No drugs listed</p>
{%endif%}