{% load static %}
{% block body_block %}
{% if drugs %}
    <div class="table">
        <div>
            <table>
                <thead>
                    <tr id="heading">
                        <th>Drug</th>
                        <th>Category</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th><i class="fas fa-plus" data-url="{% url 'settings:add_drug' %}"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'settings/drugs_partial_list.html' %}
                </tbody>
            </table>
        </div>
        <div>
            <i class="fas fa-filter"></i>
            <form method="GET" action="{% url 'settings:filter_drugs' %}" class="filter-form" autocomplete="off">
                <h3>Drug Filter</h3>
                <p>{{ form.name.label }}</p>
                <p>{{ form.name }}</p>
            </form>
        </div>
    </div>
{% else %}
    <p class="no-data">No drugs listed</p>
    <i class="fas fa-plus add-data" data-url="{% url 'settings:add_drug' %}"></i>
{% endif %}
{% endblock %}