{%load static%}
{%block body_block%}
    {%if insurances%}
    <div class="box">
        <div>
            <table>
                <thead>
                    <tr id="heading">
                        <th>Company</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th><i class="fas fa-plus"></i></th>
                    </tr>
                </thead>
                <tbody>
                {%for i in insurances%}
                    <tr>
                        <td><a href="{%url 'settings:insurance_details' i.pk%}" class="view">{{i.company}}</a></td>
                        <td><i class="fas fa-edit"></i></td>
                        <td><i class="fas fa-trash"></i></td>
                        <td></td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
        <div>
            <i class="fas fa-filter"></i>
            <form action="" class="filter-form" autocomplete="off">
                <h3>Filter Insurance</h3>
                {%csrf_token%}
                <p>{{form.company.label}}</p>
                <p>{{form.company}}</p>
                <p>{{form.country.label}}</p>
                <p>{{form.country}}</p>
            </form>
        </div>
    </div>
    {%else%}
        <p class="no-data">No insurances listed</p>
        <a href="{%url 'settings:insurance_add'%}" class="add-data"><i class="fas fa-plus"></i></a>
    {%endif%}
<script src="{%static 'settings/js/insurance_list.js'%}"></script>
{%endblock%}