{% load static %}
{% block body_block %}
    {% if insurances %}
            <div class="data-table">
                <table>
                    <thead>
                        <tr id="heading">
                            <th>Company</th>
                            <th>Country</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th><i class="fas fa-plus" data-url="{% url 'settings:add_insurance' %}"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% include 'settings/insurance_partial_list.html' %}
                    </tbody>
                </table>
            </div>
            <div>
                <i class="fas fa-filter"></i>
                <form method="GET" action="{% url 'settings:filter_insurance' %}" class="filter-form" autocomplete="off">
                    <h3>Filter Insurance</h3>
                    <p>{{ form.company.label }}</p>
                    <p>{{ form.company }}</p>
                </form>
            </div>
    {% else %}
        <p class="no-data">No insurances listed</p>
        <i class="fas fa-plus add-data" data-url="{% url 'settings:add_insurance' %}"></i>
    {% endif %}
{% endblock %}