{% extends 'base.html' %}
{%load static%}
{%block title%}Insurance Details{%endblock%}
{%block return%}<a href="{%url 'settings:settings'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'settings/css/insurance_details.css'%}">
<div id="details">
    <h1>Insurance Details</h1>
    <h2>Company: {{insurance.company}}</h2>
    <h2>Country: {{insurance.get_country_display}}</h2>
    <a id="delete" href="{%url 'settings:insurance_delete' insurance.pk%}"><i class="fas fa-trash"></i></a>
</div>
{%endblock%}
