<!--Checked-->
{%extends 'base.html'%}
{%load static%}
{%block title%}Insurances{%endblock%}
{%block return%}<a href="{%url 'settings:settings'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'settings/css/insurances_list.css'%}">
    {%if insurances%}
        <h1>Insurances available in {{user.profile.get_origin_display}}</h1>
            <table>
                <tr id="heading" style="color:white">
                    <th>Company</th>
                </tr>
                {%for i in insurances%}
                    <tr onclick="window.location='{%url 'settings:insurance_details' i.pk%}'">
                        <td>{{i.company}}</td>
                    </tr>
                {%endfor%}
            </table>
    {%else%}
        <p id="no-insurance">No insurances listed for {{user.profile.get_origin_display}}</p>
    {%endif%}
<script src="{%static 'settings/js/insurance_list.js'%}"></script>
{%endblock%}