{% load static %}
{% if medical_tests %}
        <div class="data-table">
            <table>
                <thead>
                    <tr id="heading">
                        <th>Test Type</th>
                        <th>Test Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th><i class="fas fa-plus" data-url="{% url 'settings:add_medical_test' %}"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'settings/medical_tests_partial_list.html' %}
                </tbody>
            </table>
        </div>
        <div>
            <i class="fas fa-filter"></i>
            <form method="GET" action="{% url 'settings:filter_medical_testing' %}" class="filter-form" autocomplete="off">
                <h3>Filter Medical Tests</h3>
                <p>{{ form.name.label }}</p>
                <p>{{ form.name }}</p>
            </form>
        </div>

{%else%}
    <p class="no-data">No tests listed</p>
    <i class="fas fa-plus add-data" data-url="{% url 'settings:add_medical_test' %}"></i>
{%endif%}