<!--Settings-->
{%extends 'base.html'%}
{%load static%}
{%block title%}Settings{%endblock%}
{%block return%}<a href="{%url 'home:home'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'settings/css/settings.css'%}">

    <h1>Settings</h1>

    <ul>
        <li><a href="{%url 'settings:insurance_list'%}">Insurances</a></li><li><a href="{%url 'settings:allergies_list'%}">Allergies</a></li><li><a href="">Drugs</a></li>
    </ul>

    <div class="wrapper">

    </div>

    <div class="modal">
        <div class="modal-content">

        </div>
    </div>

<!--    <h4>Insurances listed in {{user.profile.get_origin_display}}</h4>-->
<!--        &lt;!&ndash;Insurances&ndash;&gt;-->
<!--        <table>-->
<!--            <thead>-->
<!--                <tr id="heading1">-->
<!--                    <th>-->
<!--                        Company-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        <a href="{%url 'settings:insurance_list'%}">View all</a>-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        <a href="{%url 'settings:insurance_add'%}"><i class="fas fa-plus"></i></a>-->
<!--                    </th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--             {% if insurance_list%}-->
<!--            <tbody>-->
<!--                {%for i in insurance_list%}-->
<!--                    <tr onclick="window.location='{%url 'settings:insurance_details' i.pk %}'">-->
<!--                        <td>{{i.company}}</td>-->
<!--                        <td><a href="{%url 'settings:insurance_update' i.pk%}"><i class="fas fa-edit"></i></a></td>-->
<!--                        <td></td>-->
<!--                    </tr>-->
<!--                {%endfor%}-->
<!--            </tbody>-->
<!--            {%else%}-->
<!--            <tr>-->
<!--                <td><p>There are no insurances listed in your region</p></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
<!--            {%endif%}-->
<!--        </table>-->

<!--        &lt;!&ndash;Allergies&ndash;&gt;-->
<!--        <h4>Allergies registered</h4>-->
<!--        <table>-->
<!--            <thead>-->
<!--                <tr id="heading2">-->
<!--                    <th>-->
<!--                        Allergy-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        <a href="{%url 'settings:allergies_list'%}">View all</a>-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        <a href="{%url 'settings:allergy_add'%}"><i class="fas fa-plus"></i></a>-->
<!--                    </th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--             {% if allergies_list%}-->
<!--            <tbody>-->
<!--                {%for a in allergies_list%}-->
<!--                    <tr onclick="window.location='{%url 'settings:allergies_details' a.pk %}'">-->
<!--                        <td>{{a.allergy_type}}</td>-->
<!--                        <td><a href="{%url 'settings:allergies_update' a.pk%}"><i class="fas fa-edit"></i></a></td>-->
<!--                        <td></td>-->
<!--                    </tr>-->
<!--                {%endfor%}-->
<!--            </tbody>-->
<!--            {%else%}-->
<!--            <tr>-->
<!--                <td><p>There are no allergies registered yet</p></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
<!--            {%endif%}-->
<!--        </table>-->

<!--        &lt;!&ndash;Drugs&ndash;&gt;-->
<!--        <h4>Drugs registered</h4>-->
<!--        <table>-->
<!--            <thead>-->
<!--                <tr id="heading3">-->
<!--                    <th>-->
<!--                        Drug-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        <a href="{%url 'settings:drugs_list'%}">View all</a>-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        <a href="{%url 'settings:drug_add'%}"><i class="fas fa-plus"></i></a>-->
<!--                    </th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--             {% if drugs_list%}-->
<!--            <tbody>-->
<!--                {%for d in drugs_list%}-->
<!--                    <tr onclick="window.location='{%url 'settings:drug_details' d.pk%}'">-->
<!--                        <td>{{d.name}}</td>-->
<!--                        <td><a href="{%url 'settings:drug_update' d.pk%}"><i class="fas fa-edit"></i></a></td>-->
<!--                        <td></td>-->
<!--                    </tr>-->
<!--                {%endfor%}-->
<!--            </tbody>-->
<!--            {%else%}-->
<!--            <tr>-->
<!--                <td><p>There are no drugs registered yet</p></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--            </tr>-->
<!--            {%endif%}-->
<!--        </table>-->
<script src="{%static 'settings/js/settings.js'%}"></script>
{%endblock%}