<!--Settings-->
{% extends 'base.html' %}
{% load static %}
{% block title %}Settings{% endblock %}
{% block return %}<a href="{% url 'home:home' %}"><i class="fas fa-long-arrow-alt-left"></i></a>{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'settings/css/settings.css' %}">

    <h2>Settings</h2>

    <div id="settings-navigator">
        <div class="tab" data-url="">Profile</div><div class="tab" data-url="{% url 'settings:account' %}">Account</div><div class="tab" data-url="">Notifications</div><div class="tab" data-url="{% url 'settings:mailing' %}">Mailing</div><div class="tab" data-url="{% url 'settings:medical_test_list' %}">Medical Testing</div><div class="tab" data-url="{% url 'settings:insurance_list' %}">Insurance</div><div class="tab" data-url="{% url 'settings:allergy_list' %}">Allergies</div><div class="tab" data-url="{% url 'settings:drugs_list' %}">Drugs</div>
    </div>

    <div class="wrapper">

    </div>

    <div class="modal">
        <div class="modal-content">

        </div>
    </div>
<script src="{% static 'settings/js/settings.js' %}"></script>
{% endblock %}