<!--Checked-->
{%extends 'base.html'%}
{%load static%}
{%block title%}Update Allergy{%endblock%}
{%block return%}<a href="{%url 'settings:settings'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'settings/css/allergy_update.css'%}">
<form method="POST" autocomplete="off">
    {%csrf_token%}
    <h1>Update Allergy</h1>
    <p>{{allergy_form.allergy_type.label}}</p>
    <p>{{allergy_form.allergy_type}}</p>
    <a href="{%url 'settings:settings'%}"><button type="button">Allergies List</button></a>
    <p>{{unique_error}}</p>
    <button type="submit">Update Allergy</button>
</form>
<script src="{%static 'settings/js/update_allergy.js'%}"></script>
{%endblock%}