{%extends 'base.html'%}
{%load static%}
{%block title%}Drugs List{%endblock%}
{%block return%}<a href="{%url 'settings:settings'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'settings/css/update_drug.css'%}">
<form method="POST" autocomplete="off">
    {%csrf_token%}
    <h1>Update Allergy</h1>
    <p>{{form.name.label}}</p>
    <p>{{form.name}}</p>
    <a href="{%url 'settings:settings'%}"><button type="button">Drugs List</button></a>
    <p>{{unique_error}}</p>
    <button type="submit">Update Drug</button>
</form>
{%endblock%}