{% load static %}
{% block body_block %}
{% if vaccines %}
        <div class="data-table">
            <table>
                <thead>
                    <tr id="heading">
                        <th>Name</th>
                        <th>Scientific Name</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th><i class="fas fa-plus" data-url="{% url 'settings:add_vaccine' %}"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'settings/vaccines_partial_list.html' %}
                </tbody>
            </table>
        </div>
        <div>
            <i class="fas fa-filter"></i>
            <form method="GET" action="{% url 'settings:filter_vaccines' %}" class="filter-form" autocomplete="off">
                <h3>Filter Vaccines</h3>
                <p>{{ form.name.label }}</p>
                <p>{{ form.name }}</p>
            </form>
        </div>
{%else%}
    <p class="no-data">No vaccines listed</p>
    <i class="fas fa-plus add-data" data-url="{% url 'settings:add_vaccine' %}"></i>
{%endif%}
{%endblock%}