<div class="double-visualization-container">

    <svg class="status-distribution container__visualization__s-widget">
        <text class="header" font-weight="bolder"></text>
        <g class="body">
            <g class="x-axis"></g>
            <g class="y-axis"></g>
        </g>
    </svg>

    <svg class="medical-status-distribution container__visualization__s-widget">
        <text class="header" font-weight="bolder"></text>
        <g class="body">
            <g class="x-axis"></g>
            <g class="y-axis"></g>
        </g>
    </svg>

</div>

<svg class="consult-growth container__visualization__m-widget">
    <text class="header" font-weight="bolder"></text>
    <g class="body">
        <g class="x-axis"></g>
        <g class="y-axis"></g>
    </g>
</svg>

<svg class="consult-time-frequency container__visualization__m-widget">
    <text class="header" font-weight="bolder"></text>
    <g class="body">
        <g class="x-axis"></g>
        <g class="y-axis"></g>
    </g>
</svg>
