/*This add_patient.css stylesheet contains all the styles for the add_patient.html template, it is divided into four
  sections: wrapper, forms, modal and save confirmation modal.*/


/*##################################################### Body #########################################################*/

body{
    background-color: #3e5278;
}

/*################################################### Wrapper ########################################################*/

.wrapper{
    display: grid;
    grid-template-columns: 30% 69%;
    grid-gap: 1%;
    height: 98vh;
}

.fa-long-arrow-alt-left{
    float: left;
}

.general-info{
    background-color: #12212b;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.88);
    padding: 10px;
}

.info{
    height: 69vh;
    overflow: auto;
}

.extra-info{
    background-color: #12212b;
    padding: 10px;
}


/*##################################################### Form #########################################################*/

form{
    text-align: center;
}

.error{
    color: #a83632;
}

.allergies-form{
    overflow: auto;
    max-height: 150px;
}

.antecedents-form{
    overflow: auto;
    max-height: 150px;
}

h1{
    overflow: auto;
    padding: 25px;
}

table{
    margin: auto;
}

td{
    width: 20%;
}

.fa-plus{
    transition: 0.5s;
}

.fa-plus-hover{
    color: #37cc27;
    cursor: pointer;
    transition: 0.5s;
}

.fa-trash{
    transition: 0.5s;
}

.fa-trash-hover{
    color: #cc2727;
    cursor: pointer;
    transition: 0.5s;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #0ff5fc;
  background-color: #12212b;
  border: none;
  border-bottom: 1px solid #0ff5fc;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

.input-hover{
    width: 75%;
    transition: 0.5s;
}

input:focus{
    outline: none;
}

textarea{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #0ff5fc;
  background-color: #12212b;
  border: 2px solid #0ff5fc;
  resize: none;
  transition: 0.5s;
}

textarea:focus{
  outline: none;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #0ff5fc;
  background-color: #12212b;
  border: none;
  border-bottom: 1px solid #0ff5fc;
  height: 30px;
  width:60%;
  margin: 5px;
  transition: 0.5s;
}

select:focus{
    outline: none;
}

.allergy-delete-check{
    display: none;
}

.antecedent-delete-check{
    display: none;
}

.form-hide{
    display: none;
}

.hidden{
    display: none;
}

button{
    margin: 20px;
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #12212b;
    border-color: #0ff5fc;
    border-radius: 10px;
    color: #0ff5fc;
    transition: 0.5s;
}

.button-hover{
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

/*#################################################### Modal #########################################################*/

.modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.modal-show{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*Modal Forms*/
.modal-content > form{
    text-align: center;
    background-color: #12212b;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 60%;
}

/*######################################## Save confirmation modal ###################################################*/

.save-confirmation-modal{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.save-confirmation-modal-show{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.save-confirmation-modal-content{
    text-align: center;
    background-color: #12212b;
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
    padding: 2%;
}

.save-confirmation-modal-content button{
    width: 20%;
    margin: 0;
}

.reminder{
    color: #ffe100;
}
