/*Checked*/
/*Body*/
body{
    margin: 0;
    background-color: #12212b;
}

/*Wrapper*/
.wrapper{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

/*Form*/
form{
    margin-top: -25px;
    text-align: center;
    background-color: #12212b;
}

h1{
    padding: 25px;
}

p{
    font-size: 20px;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #0ff5fc;
  background-color: #12212b;
  border: 2px solid #0ff5fc;
  border-radius: 15px;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

.input-hover{
  width: 75%;
  transition: 0.5s;
}

textarea{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #0ff5fc;
  background-color: #12212b;
  border: 2px solid #0ff5fc;
  transition: 0.5s;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #0ff5fc;
  background-color: #12212b;
  border: 2px solid #0ff5fc;
  border-radius: 15px;
  height: 30px;
  width:60%;
  margin: 5px;
  transition: 0.5s;
}

button{
    margin: 20px;
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #12212b;
    border: 2px solid #0ff5fc;
    border-radius: 10px;
    color: #0ff5fc;
    transition: 0.5s;
}

.button-hover{
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}