/*Checked*/
/*Body*/
body{
    background-color: #12212b;
}

/*Heading*/
#heading{
    text-align: center;
}

/*Medical Book*/
.fa-book-medical{
    font-size: 100%;
    float: right;
    transition: 0.5s;
}

.medical-hover{
    color:green;
    transition: 0.5s;
}
