/*This CSS Stylesheet contains all the styles for the modal showed up when an error occurs trying to delete a patient,
  it is composed of two sections: body and button, that's it.*/

/*###################################################### Body ########################################################*/

body{
    background-color: #12212b;
}

/*###################################################### Button ######################################################*/

/*Button*/
button{
    margin: 20px;
    width: 10%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #12212b;
    border-color: #0ff5fc;
    border-radius: 10px;
    color: #0ff5fc;
}

button:focus{
    outline: none;
}

.button-hover{
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}


