/*Checked*/
/*This patients.css file contains all the styles needed for the patients main page.*/
/*This file is divided into 4 sections: Body, Data Available, No Data and Modal*/

/*##################################################### No Data ######################################################*/
/*Patients*/
#no-patients{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#add-patients{
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    transition: top 0.5s;
}

.add-patient-hover{
    cursor: pointer;
    color: #25BB41;
    transition: 0.5s;
}

/*##################################################### Data #########################################################*/
/*Wrapper*/
.wrapper{
    display: grid;
    grid-template-columns: 80% 18%;
    grid-gap: 1%;
}

h2{
    margin-left: 1%;
}

/*Table*/
table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 1s linear forwards;
}

#paginator{
    position: absolute;
    left: 40%;
    top: 9%;
    font-size: 18px;
    width: 39.5%;
}

#navigation{
    width: 20%;
    float: right;
}

#paginator i{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}

#heading{
    color: #FFFFFF;
    background-color: rgba(255,255,255,0.3);
    line-height: 25px;
    cursor: default;
}

.fa-exclamation-circle{
    color: #CBA415;
}

.fa-check-circle{
    color: #25BB41;
    transition: 0.5s;
}

.fa-check-circle-hover{
    cursor: pointer;
    transition: 0.5s;
}

tr{
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
}

tr th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
}

tr:nth-child(even){
    background-color: rgba(255,255,255,0.2);
}

/* Pop-Up */
.popup{
    position: absolute;
    left: 81%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.popup-show{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.popup-text{
    max-width: 29%;
    height: 5%;
    color: #FFFFFF;
    background-color: rgba(255,255,255,0.1);
    font-size: 10px;
    padding: 5px;
}

.popup-text-in-order{
    background-color: rgba(255,255,255,0.1);
}

/*Form*/

.fa-filter-hide{
    display: none;
}

.filter-form{
    text-align: center;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transform: translateY(-200%);
    transition: transform 0.5s;
}

.show-form{
    transform: translateY(15%);
    transition: transform 0.5s ease-out;
}

button{
    width: 25%;
    height: 30px;
}

button:focus{
    outline: none;
}

.button-form-hover{
    cursor: pointer;
    color: #000000;
    background-color: #FFFFFF;
    transition: 0.5s;
}

/*##################################################### Modal ########################################################*/

.modal-content{
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    width: 40%;
    margin-left: 30%;
    margin-top: 20%;
    text-align: center;
    padding: 15px;
}