/* This CSS File, contains all the styles for the patient_details.html template, it is divided into 6 sections:
   Body, Wrapper, Table, Filter Form, Navigation and Image Preview*/

/*##################################################### Body #########################################################*/

body{
    background-color: #12212b;
    overflow-x: hidden;
    transition: 0.5s;
}

.body-color-change{
    background-color: #3e5278;
    transition: 0.5s;
}

#title{
    position: fixed;
}

/*##################################################### Wrapper ######################################################*/

.wrapper{
    display: grid;
    grid-template-columns: 100% 100% 100% 100% 100%;
    grid-gap: 1%;
    margin-top: 6%;
}

.filterable{
    display: grid;
    grid-template-columns: 79% 20%;
    grid-gap: 1%;
}

.no-background{
    margin-left: 45%;
}

.allergies{
    text-align: justify;
    overflow: auto;
    overflow-x: hidden;
    max-height: 200px;
}

hr{
    border: 1px solid #0ff5fc;
}

hr:last-child{
    display: none;
}

a{
    text-decoration: underline;
}

.antecedents{
    text-align: justify;
    overflow: auto;
    overflow-x: hidden;
    max-height: 200px;
    margin-top: 2%;
}

.insurance{
    text-align: justify;
    overflow-x: hidden;
    max-height: 200px;
    margin-top: 2%;
}

.title{
    padding: 5px;
    width: 95%;
    background-color: #0ff5fc;
    color: #12212b;
    font-size: 20px;
    margin-top: 5%;
}

/*##################################################### Data Table ###################################################*/

table{
    margin-top: 5%;
    background-color: #12212b;
    border-collapse: collapse;
    width: 100%;
}

tr{
    transition: 0.5s;
    line-height: 20px;
    margin: 10px;
    transition: 0.5s;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #0ff5fc;
}

tr:nth-child(odd){
    background-color: #3d6685;
    transition: 0.5s;
}

tr:nth-child(even){
    background-color: #2a465c;
    transition: 0.5s;
}

.tr-hover{
    background-color: #0ff5fc;
    cursor: pointer;
    color: #12212b;
    transition: 0.5s;
}

.td-hover{
    color: #12212b;
}

.heading{
    background-color: #12212b !important;
    color: #0ff5fc;
    line-height: 25px;
    cursor: default;
}

.attended{
    background-color: #32a852;
    color: #12212b !important;
}

.not-attended{
    background-color: #a83632;
    color: #12212b !important;
}

.Open{
    background-color: #ffe100;
    color: #12212b !important;
    height: 100%;
}

.Confirmed{
    background-color: #32a852;
    color: #12212b !important;
    height: 100%;
}

.Canceled{
    background-color: #b5b3a7;
    color: #12212b !important;
    height: 100%;
}

.Closed{
    background-color: #a83632;
    color: #12212b !important;
    height: 100%;
}


/*##################################################### Filtering Form ###############################################*/


i{
    padding: 5px;
}

.fa-filter{
    transition: 0.5s;
    margin-top: 20%;
}

.fa-filter-hover{
    color: #12212b;
    cursor: pointer;
    transition: 0.5s;
}

.fa-sync-alt{
    margin-top: 20%;
    transition: 0.5s;
}

.fa-sync-alt-hover{
    color: #12212b;
    cursor: pointer;
    transition: 0.5s;
}

form{
    text-align: center;
    background-color: #12212b;
    padding: 10px;
    margin-top: -300%;
    transition: 0.5s;
    visibility: hidden;
    width: 90%;
}

.error{
    color: #a83632;
}

.show-form{
    visibility: visible;
    margin-top: 2%;
    transition: 0.5s;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #0ff5fc;
  background-color: #12212b;
  border: none;
  border-bottom: 1px solid #0ff5fc;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

input:focus{
    outline: none;
}

.input-hover{
  width: 75%;
  transition: 0.5s;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #0ff5fc;
  background-color: #12212b;
  border: none;
  border-bottom: 1px solid #0ff5fc;
  height: 30px;
  width:60%;
  margin: 5px;
  transition: 0.5s;
}

select:focus{
    outline: none;
}

button{
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #12212b;
    border-color: #0ff5fc;
    border-radius: 10px;
    color: #0ff5fc;
}

button:focus{
    outline: none;
}

.button-form-hover{
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

.button-hover{
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

.no-data{
    margin-top: 30%;
    margin-left: 60%;
}

/*##################################################### Navigation ###################################################*/


.info{
    width: 100%;
    background-color: #12212b;
    left: 0;
    transition: 0.5s;
    margin-top: 5%;
    margin-bottom: 2%;
    position: fixed;
}

.info-display{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.info-tab{
    text-align: center;
    width: 20%;
    display: inline-block;
    transition: 0.5s;
}

.tab-hover{
    background-color: #0ff5fc;
    color: #12212b;
    cursor: pointer;
    transition: 0.5s;
}

.tab-active{
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
}

/*##################################################### Image Preview ################################################*/


.image-preview{
    position: fixed;
    margin-left: 78.5%;
    margin-top: -39.5%;
    max-width: 20%;
    max-height: 70%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.image-preview-show{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.previewed-image{
    width: 100%;
    height: auto;
}