/*Checked*/
/*This patients.css file contains all the styles needed for the patients main page.*/
/*This file is divided into 4 sections: Body, Data Available, No Data and Modal*/


/*##################################################### Body #########################################################*/
/*Body*/
body{
    overflow-x: hidden;
}

/*##################################################### No Data ######################################################*/
/*Patients*/
#no_patients{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.no-patients-listed{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#add_patients{
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    transition: top 0.5s;
}

.add-patient-hover{
    cursor: pointer;
    color: #32a852;
    transition: 0.5s;
}

/*##################################################### Data #########################################################*/
/*Wrapper*/
.wrapper{
    display: grid;
    grid-template-columns: 80% 19%;
    grid-gap: 1%;
}

/*Table*/
table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

#heading{
    background-color: #3E5979;
    color: #FFFFFF;
    line-height: 25px;
    cursor: default;
}

.fa-plus{
    padding: 5px 10px 5px 5px;
    transition: 0.5s;
}

.fa-plus-hover{
    color: #25BB41;
    cursor: pointer;
    transition: 0.5s;
}

.fa-trash-hover{
    color: #A31621;
    cursor: pointer;
    transition: 0.5s;
}

.fa-edit-hover{
    color: #CBA415;
    cursor: pointer;
    transition: 0.5s;
}

.fa-exclamation-circle{
    color: #CBA415;
}

.fa-check-circle{
    color: #25BB41;
    transition: 0.5s;
}

.fa-check-circle-hover{
    cursor: pointer;
    transition: 0.5s;
}

tr{
    transition: 0.5s;
    line-height: 20px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:nth-child(odd){
    background-color: #6082AD;
}

tr:nth-child(even){
    background-color: #6E8DB4;
}

/* Pop-Up */
.popup{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.popup-show{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

.popup-text{
    max-width: 29%;
    height: 5%;
    background-color: #CBA415;
    color: #3C567C;
    font-size: 10px;
    padding: 5px;
}

.popup-text-in-order{
    background-color: #25BB41;
}

/*Form*/

.fa-filter{
    float: left;
    transition: 0.5s;
}

.fa-filter-hover{
    cursor: pointer;
    color: #00CCFF;
    transition: 0.5s;
}

.fa-filter-hide{
    display: none;
}

.filter-form{
    text-align: center;
    background-color: #5A7FAF;
    padding: 10px;
    transform: translateY(-200%);
    transition: transform 0.5s;
}

.show-form{
    transform: translateY(15%);
    transition: transform 0.5s ease-out;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  background-color: #5A7FAF;
  border: none;
  color: #FFFFFF;
  border-bottom: 1px solid #C7E8F3;
  height: 30px;
  width:60%;
  transition: width 0.5s;
}

input:focus{
    outline: none;
}

.input-hover{
  width: 75%;
  transition: width 0.5s;
}

button{
    width: 25%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #5A7FAF;
    border-color: #C7E8F3;
    border-radius: 10px;
    color: #FFFFFF;
}

button:focus{
    outline: none;
}

.button-form-hover{
    color: #5A7FAF;
    background-color: #C7E8F3;
    transition: 0.5s;
    cursor: pointer;
}

.button-hover{
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

/*Pagination*/
.pagination{
    list-style: none;
}

.disabled{
    color: #12212b;
    background-color: #0ff5fc;
    cursor: not-allowed;
}

#active{
    color: #12212b;
    background-color: #0ff5fc;
    cursor: not-allowed;
}

.pagination li{
    display: inline;
    border: 1px solid #0ff5fc;
    margin: 1%;
    padding: 1%;
}

.pagination li:hover{
    color: #12212b;
    background-color: #0ff5fc;
    transition: 0.5s;
    cursor: pointer;
}

.list-container{
    background-color: #12212b;
    padding: 0.5%;
}

/*##################################################### Modal ########################################################*/
.modal{
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal-show{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}

.modal-content{
    width: 40%;
    margin-left: 30%;
    margin-top: 20%;
    text-align: center;
    background-color: #5A7FAF;
    padding: 15px;
}

.modal-content #modal-form{
    margin-top: 0%;
}