/*This add_patient.css stylesheet contains all the styles for the update_patient.html template, it is divided into four
  sections: wrapper, forms, modal and save confirmation modal.*/

/*################################################### Wrapper ########################################################*/

.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
}

.fa-users{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 1;
}

.fa-long-arrow-alt-left{
    float: left;
}

.general-info{
    padding: 10px;
    border-right: 1px solid #FFFFFF;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
}

.info{
    height: 69vh;
    overflow: auto;
}

.extra-info{
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
}


/*##################################################### Form #########################################################*/

form{
    text-align: center;
}

.error{
    color: #FFFFFF;
}

.allergies-form{
    overflow: auto;
    max-height: 150px;
}

.antecedents-form{
    overflow: auto;
    max-height: 150px;
}

h1{
    padding: 25px;
    overflow: auto;
}

table{
    margin: auto;
}

td{
    width: 20%;
}

#id_phone_number{
    width: 60%;
}

#id_country_code{
    width: 15%;
    margin-left: -21%;
    opacity: 0;
}

.flag-icon{
    position: relative;
    left: -10%;
}

.allergy-delete-check{
    display: none;
}

.antecedent-delete-check{
    display: none;
}

.form-hide{
    display: none;
}

.hidden{
    display: none;
}

button{
    margin: 20px;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    transition: 0.5s;
}

button:focus{
    outline: none;
}


/*#################################################### Modal #########################################################*/

/*Modal Forms*/
.modal-content > form{
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 45%;
}

/*######################################## Save confirmation modal ###################################################*/

.save-confirmation-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transition: opacity 0.3s;
}

.save-confirmation-modal-show{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}

.save-confirmation-modal-content{
    width: 50%;
    padding: 2%;
    margin-left: 25%;
    margin-top: 20%;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
}

.save-confirmation-modal-content button{
    width: 20%;
    margin: 0;
}
