<!--Checked-->
{% extends 'base.html' %}
{% load static %}
{% block title %} Consults for Today {% endblock %}
{% block return %}<a href="{% url 'home:home' %}"><i class="fas fa-long-arrow-alt-left"></i></a>{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'appointments/css/appointments.css' %}">
<h2>Appointments</h2>
<a href="{% url 'appointments:agenda' %}"><button type="button">Agenda</button></a>
<a href="{% url 'appointments:registers' %}"><button type="button" class="all-registers">Registers</button></a>
{% if appointments %}
<div class="data-table">
    <table>
        <thead>
            <tr id="heading">
                <th>ID</th>
                <th>Patient</th>
                <th>Date and Time</th>
                <th>Status</th>
                {% if doctor %}<th>Complete</th>{% endif %}
                <th><i class="fas fa-plus create-consult-modal" data-url="{% url 'appointments:create_appointment' %}"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for a in appointments %}
            <tr>
                <td>{{ a.patient.id_number }}</td>
                <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                <td>{{ a.datetime }}</td>
                <td id="status-0">Pending...</td>
                {% if doctor %}<td><i class="fas fa-edit" onclick="window.location='{% url 'appointments:update_consult' a.pk %}'"></i></td>{% endif %}
                <td>
                    {% if a.lock == False %}
                        <div class="popup">
                            <span class="popup-text">This consult is unlocked for further changes</span>
                        </div>
                        <i class="fas fa-exclamation-circle"></i>
                    {%endif%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p id="no-consults">There are no consults for today's date</p>
    <i class="fas fa-plus" id="add-consult" data-url="{% url 'appointments:create_appointment' %}"></i>
{% endif %}
</div>

<div class="modal">
    <div class="modal-content">

    </div>
</div>

<script src="{% static 'appointments/js/appointments.js' %}"></script>
{% endblock %}