{%extends 'base.html'%}
{%load static%}
{%block title%}Consults List{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'appointments/css/consults_list.css'%}">
<h1>Appointments</h1>
<div class="wrapper">
    {%if appointments%}
    <div>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {%for a in appointments%}
                    <tr onclick="window.location='{%url 'appointments:consult_details' a.pk%}'">
                        <td>{{a.patient.id_number}}</td>
                        <td>{{a.patient.first_names}} {{a.patient.last_names}}</td>
                        <td>{{a.datetime}}</td>
                        <td><div id="status-1">Finished</div></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <div>
        <form method="POST">
            {%csrf_token%}
            <h2>Filter Results</h2>
            <p>{{form.date_from.label}}</p>
            <p>{{form.date_from}}</p>
            <p>{{form.date_to.label}}</p>
            <p>{{form.date_to}}</p>
            <button type="submit">Search</button>
        </form>
    </div>
    {%else%}
        <p id="no-consults">There are no records filled</p>
    {%endif%}
</div>
{%endblock%}