<!--Checked-->
{%extends 'base.html'%}
{%load static%}
{%block title%}Consults List{%endblock%}
{%block return%}<a href="{%url 'appointments:consults'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'appointments/css/consults_list.css'%}">
<h1>Appointments</h1>
<div class="wrapper">
    {%include 'appointments/partial_consults_list.html'%}
</div>
<script src="{%static 'appointments/js/consult_list.js'%}"></script>
{%endblock%}