{%load static%}
<form method="POST" class="modal-form update-date-form" action="{%url 'appointments:consult_date_update' consult.pk%}">
    {%csrf_token%}
    <h1>Update Consult</h1>
    <p>{{consult_form.patient.label}}</p>
    <p>{{consult_form.patient}}</p>
    <p>{{consult_form.datetime.label}}</p>
    <p>{{consult_form.datetime}}</p>
    <p>{{consult_form.motive.label}}</p>
    <p>{{consult_form.motive}}</p>
    <p>{{consult_form.suffering.label}}</p>
    <p>{{consult_form.suffering}}</p>
    {{error}}
    <button type="submit">Update Consult</button>
</form>