{% load static %}
{% block body_block %}
<form method="POST" action="{% url 'appointments:create_appointment' %}">
    {% csrf_token %}
    <h2>Create Appointment</h2>
    <p>{{ consults_form.patient.label }}</p>
    <p>{{ consults_form.patient }}</p>
    <small>Patient not in listing? <a href="{% url 'patients:add_patient' %}" id="add_new_patient">Add new one</a></small>
    <p>{{ consults_form.datetime.label }}</p>
    <p class="error"><small>{{ error }}</small></p>
    {% if consults_form.errors %}
        <p class="error"><small>{{ consults_form.non_field_errors.as_text }}</small></p>
    {% endif %}
    <p>{{ consults_form.datetime }}</p>
    <p>{{ consults_form.motive.label }}</p>
    <p>{{ consults_form.motive }}</p>
    <p>{{ consults_form.suffering.label }}</p>
    <p>{{ consults_form.suffering }}</p>
    <button type="submit">Create Consult</button>
</form>
{% endblock %}