<!--Checked-->
{%load static%}
{%block body_block%}
<form method="POST" class="modal-cancel-form" action="{%url 'appointments:cancel_consult' consult.pk%}" id="cancel-consult">
    {%csrf_token%}
    <h2>Cancel Consult</h2>
    <h3>Are you sure you want to cancel this consult?</h3>
    <h4>Patient: {{consult.patient}}</h4>
    <h4>Date and Time: {{consult.datetime}}</h4>
    <h4>Motive: {{consult.motive}}</h4>
    <h4>Suffering: {{consult.suffering}}</h4>
    <button type="submit" value="yes" name="choice">Yes</button>
    <button type="submit" value="no" name="choice">No</button>
</form>
{%endblock%}