{% load static %}
{% load appointments_custom_tags %}
{% if registers.has_other_pages %}
    <div id="paginator">
        <span> {{ registers.number }} / {{ registers.paginator.num_pages }}</span>
        <div id="navigation">
            {% if filtered %}
                {% if registers.has_previous %}<i class="fas fa-angle-left" data-url="{% url 'appointments:filter_registers' %}{% current_url 'page' registers.previous_page_number request.GET.urlencode %}"></i>{% endif %}{% if registers.has_next %}<i class="fas fa-angle-right" data-url="{% url 'appointments:filter_registers' %}{% current_url 'page' registers.next_page_number request.GET.urlencode %}"></i>{% endif %}
            {% else %}
                {% if registers.has_previous %}<i class="fas fa-angle-left" data-url="{% url 'appointments:registers' %}{% current_url 'page' registers.previous_page_number request.GET.urlencode %}"></i>{% endif %} {% if registers.has_next %}<i class="fas fa-angle-right" data-url="{% url 'appointments:registers' %}{% current_url 'page' registers.next_page_number request.GET.urlencode %}"></i>{% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
{% if registers %}
    {% for r in registers %}
        <tr>
            <td>{{ r.patient.id_number }}</td>
            <td>{{ r.patient.first_names }} {{ c.patient.last_names }}</td>
            <td>{{ r.datetime }}</td>
            {% if r.status == 'OPEN' %}
                <td id="Open">Open</td>
            {% elif r.status == 'CONFIRMED' %}
                <td id="Confirmed">Confirmed</td>
            {% elif r.status == 'CANCELLED' %}
                <td id="Cancelled">Cancelled</td>
            {% elif r.status == 'CLOSED' %}
                <td id="Closed">Closed</td>
            {% endif %}
            {% if r.medical_status == False and r.status == 'CLOSED' or r.medical_status == False and r.status == 'CANCELLED' %}
                <td id="never_attended">Never Attended</td>
            {% elif r.medical_status == False and r.status == 'OPEN' or r.medical_status == False and r.status == 'CONFIRMED' %}
                <td id="pending">Pending</td>
            {% else %}
                <td id="attended">Attended</td>
            {% endif %}
        </tr>
    {% endfor %}
{% endif %}