{% load static %}
{% if appointments %}
    {% for m in months %}
        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        <h3>{{ m }}</h3>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {% for a in appointments %}
                {% if a.datetime|date:"F" == m %}
                    <tr>
                        <td>{{ a.patient.id_number }}</td>
                        <td>{{ a.patient.first_names }} {{ a.patient.last_names }}</td>
                        <td>{{ a.datetime }}</td>
                        {% if a.status == 'OPEN' %}
                            <td id="Open">Open</td>
                        {% elif a.status == 'CONFIRMED' %}
                             <td id="Confirmed">Confirmed</td>
                        {% elif a.status == 'CANCELLED' %}
                            <td id="Canceled">Cancelled</td>
                        {% elif a.status == 'CLOSED' %}
                            <td id="Closed">Closed</td>
                        {% endif %}
                        </td>
                        <td data-url="{% url 'appointments:appointment_date_update' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-edit"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:confirm_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-check"></i>{% endif %}</td>
                        <td data-url="{% url 'appointments:cancel_appointment' a.pk %}">{% if a.status == 'OPEN' %}<i class="fas fa-times-circle"></i>{% endif %}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% else %}
    <p id="no-appointments">Clear section, no data stored</p>
{% endif %}
