<div class="table">
{%if consults%}
    {%for m in months%}
        <h1>{{m}}</h1>
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date and Time</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
            {%for c in consults%}
                {%if c.datetime|date:"F" == m%}
                    <tr>
                        <td>{{c.patient.id_number}}</td>
                        <td>{{c.patient.first_names}} {{c.patient.last_names}}</td>
                        <td>{{c.datetime}}</td>
                        {%if c.status == 'OPEN'%}
                            <td id="Open">Open</td>
                        {%elif c.status == 'CONFIRMED'%}
                             <td id="Confirmed">Confirmed</td>
                        {%elif c.status == 'CANCELLED'%}
                            <td id="Canceled">Cancelled</td>
                        {%elif c.status == 'CLOSED'%}
                            <td id="Closed">Closed</td>
                        {%endif%}
                        </td>
                        <td data-url="{%url 'appointments:consult_date_update' c.pk%}">{%if c.status == 'OPEN'%}<i class="fas fa-edit"></i>{%endif%}</td>
                        <td data-url="{%url 'appointments:consult_confirm' c.pk%}">{%if c.status == 'OPEN'%}<i class="fas fa-check"></i>{%endif%}</td>
                        <td data-url="{%url 'appointments:cancel_consult' c.pk%}">{%if c.status == 'OPEN'%}<i class="fas fa-times-circle"></i>{%endif%}</td>
                    </tr>
                {%endif%}
            {%endfor%}
        </tbody>
    </table>
    <div class="modal">
        <div class="modal-content">

        </div>
    </div>
    {%endfor%}
</div>
<div class="form">
    <i class="fas fa-filter"></i>
    <form method="POST" action="" class="filter-results-form filter-form">
        {%csrf_token%}
        <h2>Filter Results</h2>
        <p>{{form.date_from.label}}</p>
        <p>{{form.date_from}}</p>
        <p>{{form.date_to.label}}</p>
        <p>{{form.date_to}}</p>
        <p class="error">{{error}}</p>
        <button type="submit">Search</button><br>
    </form>
</div>
{%else%}
    <p id="no-consults">There are no appointments pending...</p>
{%endif%}