{%load static%}
 <div>
    {%if consults%}
        <p>{{items}} records have been found</p>
            <table>
                    <thead>
                        <tr id="heading">
                            <th>ID</th>
                            <th>Patient</th>
                            <th>Date and Time</th>
                            <th>Status</th>
                            <th>Medical Status</th>
                        </tr>
                    </thead>
            {%for c in consults%}
                    <tr>
                        <td>{{c.patient.id_number}}</td>
                        <td>{{c.patient.first_names}} {{c.patient.last_names}}</td>
                        <td>{{c.datetime}}</td>
                        {%if c.status == 'OPEN'%}
                            <td id="Open">Open</td>
                        {%elif c.status == 'CONFIRMED'%}
                            <td id="Confirmed">Confirmed</td>
                        {%elif c.status == 'CANCELLED'%}
                            <td id="Canceled">Cancelled</td>
                        {%elif c.status == 'CLOSED'%}
                            <td id="Closed">Closed</td>
                        {%endif%}
                        {%if c.medical_status == False and c.status == 'CLOSED' or c.medical_status == False and c.status == 'CANCELLED'%}
                            <td id="never_attended">Never Attended</td>
                        {%elif c.medical_status == False and c.status == 'OPEN' or c.medical_status == False and c.status == 'CONFIRMED'%}
                            <td id="pending">Pending</td>
                        {%else%}
                            <td id="attended">Attended</td>
                        {%endif%}
                    </tr>
                {%endfor%}
        </table>
        {% if consults.has_other_pages %}
            <div class="list-container">
              <ul class="pagination">
                {% if consults.has_previous %}
                  <li onclick="window.location='?page={{ consults.previous_page_number }}'">&laquo;</li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in consults.paginator.page_range %}
                  {% if consults.number == i %}
                    <li id="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li onclick="window.location='?page={{ i }}'">{{i}}</li>
                  {% endif %}
                {% endfor %}
                {% if consults.has_next %}
                  <li onclick="window.location='?page={{ consults.next_page_number }}'">&raquo;</li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {%endif%}
              </ul>
            </div>
        {% endif %}
    </div>
    <div>
        <i class="fas fa-filter"></i>
        <form method="POST" autocomplete="off">
            {%csrf_token%}
            <h2>Filter Results</h2>
            <p>{{form.patient.label}}</p>
            <p>{{form.patient}}</p>
            <p>{{form.month.label}}</p>
            <p>{{form.month}}</p>
            <p>{{form.year.label}}</p>
            <p>{{form.year}}</p>
            <button type="submit">Search</button>
            <p>{{error}}</p>
            <p>{{no_match}}</p>
        </form>
    </div>
    {%else%}
        <p id="no-consults">There are no appointments created</p>
    {%endif%}