{% if user.profile.block_list.all|length > 0%}
    <div class="data-container">
        <table class="data-table">
            <thead>
                <tr id="heading">
                    <th>Name</th>
                    <th>Username</th>
                    <th>Unblock</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user.profile.block_list_set.all %}
                    <tr>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user }}</td>
                        <td><i class="fas fa-ban" data-url="{% url 'accounts:manage_block_list' user.pk %}"></i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p id="no-data">No one has been blocked</p>
{% endif %}
