{% load static %}
<!-- If any contacts in existence, they will be displayed. -->
{% if contacts %}
    {% for contact in contacts %}
        <div class="cell" onclick="window.location='{% url 'accounts:profile' contact.user.pk %}'">
            {% if not contact.profile_pic %}
                {% if contact.gender == 'Masculine' %}
                    <img class="contact-profile-picture" src="{% static 'accounts/avatars/male-avatar.png' %}" alt="">
                {% else %}
                    <img class="contact-profile-picture" src="{% static 'accounts/avatars/female-avatar.png' %}" alt="">
                {% endif %}
            {% else %}
                <img class="contact-profile-picture" src="{{ MEDIA_URL }}{{ contact.profile_pic }}" alt="">
            {% endif %}
            <h4 class="contact-identification" >{{ contact.user.first_name }} {{ contact.user.last_name }}</h4>
        </div>
    {% endfor %}
<!-- If no contacts in existence, this message will be displayed -->
{% else %}
    <p id="no-content">No Contacts</p>
{% endif %}