{% load static %}
<!-- Login Forms -->
<form action="{% url 'accounts:login' %}" id="login-form" method="POST" autocomplete="off">
    <h1>Log In</h1>
    {% csrf_token %}
    <p>{{ form.username.label }}</p>
    <p>{{ form.username  }}</p>
    <p>{{ form.password.label}}</p>
    <p>{{ form.password }}</p>
    {% if form.errors %}
        <p><small>Your credentials are incorrect, please try again.</small></p>
        <p><small><a href="{% url 'accounts:password_reset' %}" class="password-reset">Did you forgot your password?</a></small></p>
    {% endif %}
    <button type="submit" class="submit-btn login-submit-btn">Log In</button>
</form>