{% load static %}
<div class="background">
    <div class="background-container">
        {% if user_profile.profile_pic.url == '' %}
            <i class="fas fa-camera" data-url="{% url 'accounts:profile_background_change' %}" data-type="background-pic"></i>
        {% else %}
            <img src="{{user_profile.background_pic.url}}" alt="" class="background-picture">
        {% endif %}
    </div>
    <div class="background-edit-modal">
        <i class="fas fa-pen background-edit-button" data-url="{% url 'accounts:profile_background_change' %}"></i>
    </div>
</div>
<div class="profile-picture-container">
    {% if user_profile.profile_pic.url == '' %}
        {% if user_profile.gender == 'Femenine' %}
            <img src="{%static 'accounts/avatars/female-avatar.png'%}" alt="" class="profile-picture">
        {% else %}
            <img src="{%static 'accounts/avatars/male-avatar.png'%}" alt="" class="profile-picture">
        {% endif %}
    {% else %}
        <img src="{{ MEDIA_URL }}{{ user_profile.profile_pic }}" alt="" class="profile-picture">
    {% endif %}
    <div class="edit-profile-picture-modal">
        <i class="fas fa-pen profile-picture-edit-button" data-url="{% url 'accounts:profile_picture_change' %}"></i>
    </div>
</div>
<div class="information">
    <div class="biography">
        <h4>@{{ user }}</h4>
        <h3>About Me</h3>
        <p class="biography-content">{{ user_profile.bio }}</p>
    </div>
    <div class="activity-information">
        <p class="last-seen"><small>Last Seen - {{ user.last_login|date:"g:i a" }}</small></p>
        <p class="member-since"><small>Member Since - {{ user.date_joined|date }}</small></p>
    </div>
    <div class="personal-information">
        <h4>Personal Information<i class="fas fa-edit" data-url="{% url 'accounts:profile_change' %}" data-type="profile"></i></h4>
        <hr>
        <div class="personal">
        <div>
            <ul>
                <li><h5>Name: {{ user.first_name }} {{ user.last_name }}</h5></li>
                <li><h5>Contact: {% if user_profile.phone_number %}{{ user_profile.phone_number }}{% else %}Not available{% endif %}</h5></li>
                <li><h5>Email: {{ user.email }}</h5></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><h5>Birth Date: {% if user_profile.birth_date %}{{ user_profile.birth_date }}{% else %}Not Available{% endif %}</h5></li>
                <li><h5>Gender: {% if user_profile.gender %}{{ user_profile.gender }}{% else %}Not Available{% endif %}</h5></li>
                <li><h5>Origin: {% if user_profile.origin %}{{ user_profile.get_origin_display }}{% else %}Not Available{% endif %}</h5></li>
            </ul>
        </div>
        </div>
        <h4>Professional Information</h4>
        <hr>
        <div class="medical">
            <ul>
                <li>
                    <h5>Roll: {{ user.roll }}</h5>
                </li>
                <li>
                    <h5>Speciality: {{ user.speciality }}</h5>
                </li>
            </ul>
        </div>
        <h4>Addressing Information</h4>
        <hr>
        <div class="addressing">
            <ul>
                <li>
                    <h5>Location: {% if user_profile.location %}{{ user_profile.get_location_display }}{% else %}Not Available{% endif %}</h5>
                </li>
                <li>
                    <h5>Address: {% if user_profile.address %}{{ user_profile.address }}{% else %}No Address available{% endif %}</h5>
                </li>
            </ul>
        </div>
    </div>
</div>