{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset_confirm.css' %}">
    {% if validlink %}
        <!-- Password reset form -->
        <form method="POST" class="password-reset-confirm-form">
            <h2>Change Password</h2>
            {% csrf_token %}
            <p>New Password</p>
            <p>{{ form.new_password1 }}</p>
            <p>Confirmation</p>
            <p>{{ form.new_password2 }}</p>
            <button type="submit" class="password-reset-confirm-form__submit-button submit-button">Reset</button>
            {% if form.errors %}
                {% if form.new_password1.errors %}
                    <p class="password-reset-confirm-form__errors"><small>{{ form.new_password1.errors.as_text }}</small></p>
                {% endif %}
                {% if form.new_password2.errors %}
                    <p class="password-reset-confirm-form__errors"><small>{{ form.new_password2.errors.as_text }}</small></p>
                {% endif %}
            {% endif %}
        </form>
    {% else %}
        <!-- Invalid Link Message -->
        <p id="invalidlink">The link was invalid, please let us send you another email for password resetting.</p>
    {% endif %}
<script src="{%static 'accounts/js/password-reset-confirm.js'%}"></script>