{% extends 'base.html'%}
{%load static%}
{%block title%}Password Reset Confirm{%endblock%}
{%block body_block%}
{%block content%}{%endblock%}
<link rel="stylesheet" href="{%static 'accounts/css/password_reset_confirm.css'%}">
    {% if validlink %}
        <form method="POST">
            <h1>Change Password</h1>
            {%csrf_token%}
            <p>{{form.new_password1.label}}</p>
            <p>{{form.new_password1}}</p>
            <p>{{form.new_password2.label}}</p>
            <p>{{form.new_password2}}</p>
            <button type="submit">Reset</button>
            {%if form.errors%}
                {%if form.new_password1.errors%}
                    <p>{{form.new_password1.errors}}</p>
                {%endif%}
                {%if form.new_password2.errors%}
                    <p>{{form.new_password2.errors}}</p>
                {%endif%}
            {%endif%}
        </form>
    {%else%}
        <p id="invalidlink">The link was invalid, please let use send you another email for password resetting. <a href="{%url 'accounts:password_reset'%}">Reset</a></p>
    {%endif%}
{% endblock %}