{%load static%}
<form method="POST" action="{%url 'accounts:profile_picture_change'%}" enctype="multipart/form-data"  class="edit-profile-picture">
    {%csrf_token%}
    <!--Hidden Inputs-->
        <p id="profile-pic-input">{{form.profile_pic}}</p>
        <p>{{form.x}}</p>
        <p>{{form.y}}</p>
        <p>{{form.width}}</p>
        <p>{{form.height}}</p>
    <!---->
    <h3>Selected Picture</h3>
    <div class="selected-picture">
        <img src="" alt="" class="profile-pic-selected">
    </div>
    <p><label for="id_profile_pic">Select File</label></p>
    <button type="submit" class="edit-profile-picture-submit">Save</button>
</form>