<!--Checked-->
{%extends 'base.html'%}
{%load static%}
{%block title%}Profile{%endblock%}
{%block return%}<a href="{%url 'home:home'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'accounts/css/profile.css'%}">
<!--Used for Profile Editing Form functionality-->
<form action="{%url 'accounts:profile_change'%}" method="POST" class="profile-edit-form">
{%csrf_token%}
<div class="wrapper">
    {%include 'accounts/partial_profile.html'%}
</div>
</form>
<script src="{%static 'accounts/js/profile.js'%}"></script>
{%endblock%}
