{%extends 'base.html'%}
{%load static%}
{%block title%}Profile{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'accounts/css/profile.css'%}">
    <div class="wrapper">
        <div class="first">
            {% if user.profile.profile_pic.url != ''%}
                <img src="{{user.profile.profile_pic.url}}" alt="">
            {% else %}
                {% if user.profile.gender == 'Femenine' %}
                    <img src="{%static 'accounts/avatars/female_doctor.jpg'%}" alt="">
                {% else %}
                    <img src="{%static 'accounts/avatars/male_doctor.jpg'%}" alt="">
                {% endif %}
            {% endif %}
            <h3>@{{user}}</h3>
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <h3>Date Joined - {{user.date_joined|date:"d M, Y"}}</h3>
            {%if user.profile.bio == None or user.profile.bio == ''%}
                <p>Biography not available</p>
            {%else%}
                <p>Biography</p>
                <p id="bio">{{user.profile.bio}}</p>
            {%endif%}
            <p><small>Last Connection: {{user.last_login|date:"g:i a"}}</small></p>
            {%if user.is_authenticated%}
                <small><a href="{%url 'accounts:profile_change' %}">Edit Profile</a></small>
            {%endif%}
        </div>
        <div id="second">
            <h1>Personal Info</h1>
            <div class="personal-info">
                <div>
                    <ul>
                        <li><h3>Name: {{user.first_name}} {{user.last_name}}</h3></li>
                        <li><h3>Contact: {%if user.profile.phone_number%}{{user.profile.phone_number}}{%else%}Not available{%endif%}</h3></li>
                        <li><h3>Email: {{user.email}}</h3></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><h3>Birth Date: {%if user.profile.birth_date%}{{user.profile.birth_date}}{%else%}Not Available{%endif%}</h3></li>
                        <li><h3>Gender: {%if user.profile.gender%}{{user.profile.gender}}{%else%}Not Available{%endif%}</h3></li>
                        <li><h3>Origin: {%if user.profile.origin%}{{user.profile.get_origin_display}}{%else%}Not Available{%endif%}</h3></li>
                    </ul>
                </div>
            </div>
            <h1>Medical Information</h1>
                <ul>
                    <li>
                        <h3>Roll: {{user.roll}}</h3>
                    </li>
                    <li>
                        <h3>Speciality: {{user.speciality}}</h3>
                    </li>
                </ul>
            <h1>Address Information</h1>
            <ul>
                <li>
                    <h3>Location: {%if user.profile.location%}{{user.profile.get_location_display}}{%else%}Not Available{%endif%}</h3>
                </li>
                <li>
                    <h3>Address: {%if user.profile.address%}{{user.profile.address}}{%else%}No Address available{%endif%}</h3>
                </li>
            </ul>
        </div>
    </div>
{%endblock%}
