{% load static %}
<form method="POST" action="{% url 'accounts:profile_background_change' %}" enctype="multipart/form-data"  class="edit-background-picture">
    {% csrf_token %}
    <!--Hidden Inputs-->
        <p id="background-pic-input">{{ form.background_pic }}</p>
        <p>{{ form.x }}</p>
        <p>{{ form.y }}</p>
        <p>{{ form.width }}</p>
        <p>{{ form.height }}</p>
    <!---->
    <h3>Selected Picture</h3>
    <div class="selected-picture">
        <img src="" alt="" class="background-pic-selected">
    </div>
    <p><label for="id_background_pic">Select File</label></p>
    <button type="submit" class="edit-background-picture-submit">Save</button>
</form>