/* This records_list.css stylesheet contains all the styles needed to display the records app nicely, this
   file is divided into 5 sections: wrapper, paginator, table, forms and no data*/

/*################################################## Wrapper #############################################*/
.wrapper{
    display: grid;
    grid-template-columns: 80% 19%;
    grid-gap: 1%;
}

/*################################################## Paginator ###########################################*/

#paginator{
    position: absolute;
    width: 40%;
    top: 9%;
    left: 39%;
    font-size: 18px;
}

#navigation{
    float: right;
    width: 10%;
}

#paginator i{
    font-size: 24px;
}

.fa-angle-left{
    cursor: pointer;
    transition: 0.5s;
    float: left;
}

.fa-angle-right{
    cursor: pointer;
    transition: 0.5s;
    float: right;
}

.fa-angle-hover{
    color: #00CCFF;
    transition: 0.5s;
}

/*################################################## Table ###############################################*/

table{
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

#heading{
    background-color: #456387;
    line-height: 25px;
    cursor: default;
}

tr{
    cursor: pointer;
    line-height: 20px;
    margin: 10px;
    transition: 0.5s;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: #6082AD;
    transition: 0.5s;
}

tr:nth-child(even){
    background-color: #6E8DB4;
    transition: 0.5s;
}

#status-1{
    background-color: #00E083;
    color: #000000;
    height: 100%;
}

/*################################################## Forms ###############################################*/

.fa-filter{
    cursor: pointer;
    float: left;
    transition: 0.5s;
}

.fa-filter-hover{
    color: #00CCFF;
    transition: 0.5s;
}

form{
    text-align: center;
    background-color: #5A7FAF;
    padding: 10px;
    transform: translateY(-200%);
    visibility: hidden;
    transition: 0.5s;
}

.error{
    color: #FFFFFF;
}

.show-form{
    visibility: visible;
    transform: translateY(10%);
    transition: 0.5s;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #FFFFFF;
  background-color: #5A7FAF;
  border: none;
  border-bottom: 1px solid #C7E8F3;
  height: 30px;
  width:60%;
  margin: 5px;
  transition: 0.5s;
}

select:focus{
    outline: none;
}

button{
    cursor: pointer;
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #5A7FAF;
    border-color: #C7E8F3;
    border-radius: 10px;
    color: #FFFFFF;
}

button:focus{
    outline: none;
}

.button-form-hover{
    background-color: #C7E8F3;
    color: #496897;
    transition: all 0.5s;
}

/*################################################## No Data #############################################*/

#no-records{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}