/* This records_list.css stylesheet contains all the styles needed to display the records app nicely, this
   file is divided into 5 sections: wrapper, paginator, table, forms and no data*/

/*################################################## Wrapper #############################################*/

.wrapper{
    display: grid;
    grid-template-columns: 80% 18%;
    grid-gap: 1%;
}

h2{
    margin-left: 1%;
}

/*################################################## Paginator ###########################################*/

#paginator{
    position: absolute;
    width: 40%;
    top: 9%;
    left: 39%;
    font-size: 18px;
}

#navigation{
    float: right;
    width: 10%;
}

#paginator i{
    font-size: 24px;
}

/*################################################## Table ###############################################*/

table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

#heading{
    cursor: default;
    line-height: 25px;
    background-color: rgba(255,255,255,0.3);
}

tr{
    cursor: pointer;
    line-height: 20px;
    margin: 10px;
    transition: 0.5s;
    background-color: rgba(255,255,255,0.3);
    animation: show-up 0.5s linear forwards;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
    transition: 0.5s;
}

tr:nth-child(even){
    background-color: rgba(255,255,255,0.2);
    transition: 0.5s;
}

/*################################################## Forms ###############################################*/

.fa-filter{
    cursor: pointer;
    float: left;
    transition: 0.5s;
}

form{
    text-align: center;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transform: translateY(-200%);
    visibility: hidden;
    transition: 0.5s;
}

.error{
    color: #FFFFFF;
}

.show-form{
    visibility: visible;
    transform: translateY(8%);
    transition: 0.5s;
}

button{
    cursor: pointer;
    width: 30%;
    height: 30px;
}

/*################################################## No Data #############################################*/

#no-records{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}