table{
    background-color: #12212b;
    border-collapse: collapse;
    margin: auto;
    width: 60%;
}

#heading{
    background-color: #12212b;
    color: cyan;
    cursor: default;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: cyan;
}

tr:nth-child(odd){
    background-color: #3d6685;
    transition: 0.5s;
}

tr:nth-child(even){
    background-color: #2a465c;
    transition: 0.5s;
}

tr:nth-child(odd):hover {
    background-color: cyan;
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

tr:nth-child(odd):hover td{
    color: #12212b;
}

tr:nth-child(even):hover{
    background-color: cyan;
    color: #12212b;
    transition: 0.5s;
    cursor: pointer;
}

tr:nth-child(even):hover td{
    color: #12212b;
}

tr:nth-child(odd):hover .fa-edit{
    color: #12212b;
}

tr:nth-child(even):hover .fa-edit{
    color: #12212b;
}

.fa-plus{
    padding: 10px;
}

#no-allergies{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}