/*Checked*/
table{
    background-color: #12212b;
    border-collapse: collapse;
    margin: auto;
    width: 60%;
}

#heading{
    background-color: #12212b;
    color: #0ff5fc;
    cursor: default;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #0ff5fc;
}

tr:nth-child(odd){
    background-color: #3d6685;
    transition: 0.5s;
}

tr:nth-child(even){
    background-color: #2a465c;
    transition: 0.5s;
}

#no-allergies{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}