/* This settings.css stylesheet contains all the styles needed to display the settings web page correctly, it is divided
   into 5 sections: Nav-bar, Wrapper, Mailing,Tables, Modal, No Data*/

/*###################################################### Nav Bar #####################################################*/

h2{
    margin-left: 1%;
}

#settings-navigator{
    position: absolute;
    top: 0%
    left: 0%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transition: 0.5s;
    animation: show-up 0.5s linear forwards;
}

.tab{
    cursor: pointer;
    padding: 15px;
    text-align: center;
    display: inline-block;
    transition: 0.5s;
}

.tab-hover{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}

.tab-active{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}

/*###################################################### Wrapper #####################################################*/

.wrapper{
    display: grid;
    grid-template-columns: 80% 18%;
    grid-gap: 1%;
    margin-top: 6%;
}

.filter-form{
    text-align: center;
    padding: 10px;
    transform: translateY(-500%);
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transition: 0.5s;
}

.show-filter-form{
    transform: translateY(18%);
    transition: 0.5s;
}

button{
    cursor: pointer;
    width: 120px;
    height: 30px;
}

/*####################################################### Account Settings ###########################################*/

#account-settings p, #account-settings button{
    margin-left: 1%;
}


/*####################################################### Mailing #####################################################*/

.mailing-info-form{
    animation: show-up 0.5s linear forwards;
}

.mailing-info-form input{
    width: 25%;
}

.mailing-info-form p, input, .mailing-info-form button{
    margin-left: 1%;
}

.mailing-info-form input[type=checkbox]{
    width: 3%;
}

/*####################################################### Tables #####################################################*/

.data-table{
    max-height: 686px;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

#heading{
    cursor: default;
    background-color: rgba(255,255,255,0.3);
}

tr{
    cursor: pointer;
    line-height: 20px;
    margin: 10px;
    transition: 0.5s;
        animation: show-up 0.5s linear forwards;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
}

tr:nth-child(even){
    background-color: rgba(255,255,255,0.2);
}

/*####################################################### Modal ######################################################*/

.modal-content{
    margin-left: 25%;
    margin-top: 12%;
}

.error-response{
    width: 30%;
    height: 12%;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.1);
}

.modal-content form{
    width: 25%;
    height: 40%;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.modal-content .password-form{
    height: 55%;
}

.error{
    color: #FFFFFF;
}

#delete{
    width: 25%;
    height: 20%;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    background-color: rgba(255,255,255,0.1);
    transform: translate(-50%, -50%);
}

#details{
    width: 25%;
    height: 30%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    transform: translate(-50%, -50%);
}

#details h2{
    text-align: center;
}

#add-allergy{
    height: 35%;
}

#update-allergy{
    height: 35%;
}

form button{
    border-radius: 10px;
}

/*###################################################### No Data #####################################################*/

.no-data{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.add-data{
    font-size: 25px;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}