/* This settings.css stylesheet contains all the styles needed to display the settings web page correctly, it is divided
   into 5 sections: Nav-bar, Wrapper, Tables, Modal, No Data*/

/*###################################################### Nav Bar #####################################################*/

ul{
    list-style-type: none;
    padding-left: 0px;
    width: 55%;
}

li{
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    margin: 0px;
    background-color: #456387;
    transition: 0.5s;
}

.tab-hover{
    background-color: #FFFFFF;
    color: #496897;
    transition: 0.5s;
}

.tab-hover a{
    color: #496897;
}

.tab-active{
    background-color: #FFFFFF;
    color: #496897;
    transition: 0.5s;
}

.tab-active a{
    color: #496897;
}

/*################################################### Pagination #####################################################*/

#paginator{
    position: absolute;
    left: 55%;
    top: 16%;
    font-size: 18px;
    width: 25%;
}

#navigation{
    width: 20%;
    float: right;
}

#paginator i{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}

.fa-angle-left{
    cursor: pointer;
    transition: 0.5s;
    float: left;
}

.fa-angle-right{
    cursor: pointer;
    transition: 0.5s;
    float: right;
}

.fa-angle-hover{
    color: #00CCFF;
    transition: 0.5s;
}

/*###################################################### Wrapper #####################################################*/

.table{
    display: grid;
    grid-template-columns: 80% 19%;
    grid-gap: 1%;
}

.filter-form{
    text-align: center;
    background-color: #5A7FAF;
    padding: 10px;
    transform: translateY(-220%);
    transition: 0.5s;
}

.show-filter-form{
    transform: translateY(10%);
    transition: 0.5s;
}

.fa-filter{
    cursor: pointer;
    transition: 0.5s;
}

.fa-filter-hover{
   color: #00CCFF;
   transition: 0.5s;
}

button{
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-left: 1%;
    background-color: #5A7FAF;
    border-color: #C7E8F3;
    color: #FFFFFF;
    transition: background-color 0.5s;
}

/*####################################################### Tables #####################################################*/

table{
    border-collapse: collapse;
    width: 100%;
}

#heading{
    background-color: #456387;
    cursor: default;
}

tr{
    cursor: pointer;
    line-height: 20px;
    margin: 10px;
    transition: 0.5s;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: #6082AD;
}

tr:nth-child(even){
    background-color: #6E8DB4;
}

.fa-plus{
    cursor: pointer;
    padding: 10px;
}

.fa-plus-hover{
    color: #25BB41;
    transition: 0.5s;
}

.fa-trash{
    cursor: pointer;
}

.fa-trash-hover{
    color: #A31621;
    transition: 0.5s;
}

.fa-edit{
    cursor: pointer;
}

.fa-edit-hover{
    color: #CBA415;
    transition: 0.5s;
}

/*####################################################### Modal ######################################################*/

.modal{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.show-modal{
    visibility: visible;
    opacity: 1;
    position: fixed;
    transition: all 0.3s;
}

.modal-content{
    margin-left: 25%;
    margin-top: 12%;
}

.error-response{
    text-align: center;
    background-color: #5A7FAF;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 12%;
}

.modal-content form{
    text-align: center;
    background-color: #5A7FAF;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 40%;
}

.modal-content .password-form{
    height: 55%;
}

.error{
    color: #FFFFFF;
}

#delete{
    text-align: center;
    background-color: #5A7FAF;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 20%;
}

#details{
    background-color: #5A7FAF;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 30%;
}

#details h2{
    text-align: center;
}

#add-allergy{
    height: 35%;
}

#update-allergy{
    height: 35%;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-color: #5A7FAF;
  border: none;
  border-bottom: 1px solid #C7E8F3;
  height: 30px;
  width:60%;
  transition: width 0.5s;
}

input:focus{
    outline: none;
}

.input-hover{
  width: 75%;
  transition: 0.5s;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #FFFFFF;
  background-color: #5A7FAF;
  border: none;
  border-bottom: 1px solid #C7E8F3;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

select:focus{
    outline: none;
}

form button{
    border-radius: 10px;
}

button:focus{
    outline: none;
}

.button-hover{
    background-color: #C7E8F3;
    color: #496897;
    transition: 0.5s;
}

/*###################################################### No Data #####################################################*/

.no-data{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.add-data{
    font-size: 25px;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}