/* This settings.css stylesheet contains all the styles needed to display the settings web page correctly, it is divided
   into 5 sections: Nav-bar, Wrapper, Mailing,Tables, Modal, No Data*/

/*###################################################### Nav Bar #####################################################*/

h2{
    margin-left: 1%;
}

#settings-navigator{
    position: absolute;
    top: 0%
    left: 0%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transition: 0.5s;
    animation: show-up 0.5s linear forwards;
}

.tab{
    cursor: pointer;
    padding: 15px;
    text-align: center;
    display: inline-block;
    transition: 0.5s;
}

.tab-hover{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}

.tab-active{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}

/*###################################################### Wrapper #####################################################*/

.wrapper{
    display: grid;
    grid-template-columns: 80% 18%;
    grid-gap: 1%;
    margin-top: 6%;
}

.filter-form{
    text-align: center;
    padding: 10px;
    transform: translateY(-500%);
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transition: 0.5s;
}

.show-filter-form{
    transform: translateY(18%);
    transition: 0.5s;
}

button{
    cursor: pointer;
    width: 120px;
    height: 30px;
}

/*####################################################### General Settings ###########################################*/

#user-settings-form{
    display: none;
}

#general-options{
    list-style: none;
    display: inline-block;
    width: 10%;
    margin-left: 2%;
    text-align: center;
    padding-left: 0%;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

.general-option-tab{
    cursor: pointer;
    height: 25px;
    padding: 10px;
    transition: background-color 0.5s;
}

#general-settings-content{
    width: 85%;
    height: 73%;
    position: absolute;
    top: 21%;
    left: 13%;
}

.wallpaper{
    cursor: pointer;
    width: 235px;
    height: 235px;
    border-radius: 25px;
    transition: 0.5s;
    animation: show-up 0.5s linear forwards;
}

.wallpaper-hover{
    width: 250px;
    height: 250px;
    transition: 0.5s;
}

#first-wallpaper-row, #second-wallpaper-row{
    position: absolute;
}

#second-wallpaper-row{
    top: 40%;
}

/*####################################################### Profile Settings ###########################################*/

#profile-options{
    list-style: none;
    display: inline-block;
    width: 10%;
    margin-left: 2%;
    text-align: center;
    padding-left: 0%;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

.profile-option-tab{
    cursor: pointer;
    height: 25px;
    padding: 10px;
    transition: background-color 0.5s;
}

#profile-settings-content{
    width: 85%;
    height: 73%;
    position: absolute;
    top: 21%;
    left: 13%;
}

#id_availability{
    width: 15%;
}

/*####################################################### Account Settings ###########################################*/

#account-settings p, #account-settings button{
    margin-left: 1%;
    animation: show-up 0.5s linear forwards;
}

#account-settings select{
    width: 15%;
    animation: show-up 0.5s linear forwards;
}

/*####################################################### Linking Settings ###########################################*/

.add-extra-linking{
    position: fixed;
    left: 79%;
    top: 16%;
}

#linking-id{
    margin-left: 1%;
}

.link{
    width: 100%;
    height: 50px;
    margin-left: 1%;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    transition: background-color 0.5s;
    animation: show-up 0.5s linear forwards;
}

.link-hover{
    cursor: pointer;
    background-color: white;
    color: #000000;
}

.link p{
    width: calc(100% / 4);
    text-align: center;
    display: inline-block;
}

.fa-unlink-hover{
    cursor: pointer;
    color: #A31621;
    transition: 0.5s;
}

/*####################################################### Mailing #####################################################*/

.mailing-info-form{
    animation: show-up 0.5s linear forwards;
}

.mailing-info-form input{
    width: 25%;
}

.mailing-info-form p, input, .mailing-info-form button{
    margin-left: 1%;
}

.mailing-info-form input[type=checkbox]{
    width: 3%;
}

/*####################################################### Tables #####################################################*/

.data-table{
    max-height: 686px;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;
}

#heading{
    cursor: default;
    background-color: rgba(255,255,255,0.3);
}

tr{
    cursor: pointer;
    line-height: 20px;
    margin: 10px;
    transition: 0.5s;
        animation: show-up 0.5s linear forwards;
}

tr th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

tr:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
}

tr:nth-child(even){
    background-color: rgba(255,255,255,0.2);
}

/*####################################################### Modal ######################################################*/

.modal-content{
    margin-left: 25%;
    margin-top: 12%;
}

.error-response{
    width: 30%;
    height: 12%;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.1);
}

.modal-content form{
    width: 25%;
    height: 40%;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.modal-content .password-form{
    height: 55%;
}

.error{
    color: #FFFFFF;
}

#delete{
    width: 25%;
    height: 20%;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    background-color: rgba(255,255,255,0.1);
    transform: translate(-50%, -50%);
}

#details{
    width: 25%;
    height: 30%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    transform: translate(-50%, -50%);
}

#details h2{
    text-align: center;
}

#add-allergy{
    height: 35%;
}

#update-allergy{
    height: 35%;
}

form button{
    border-radius: 10px;
}

/*###################################################### No Data #####################################################*/

.no-data{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.add-data{
    font-size: 25px;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}