<!--Checked-->
<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
</head>
<body>
    {%block return%}<a href=""><i class="fas fa-long-arrow-alt-left" id="backwards"></i></a>{%endblock%}{%block home%}<i class="fas fa-bars" id="bars"></i>{%endblock%}
    <div class="menu">
        <h2 id="Menu">Menu <span class="close">X</span></h2>
        <div><p><i class="fas fa-home"></i>Home</p></div>
        <div><p><i class="fas fa-user-injured"></i>Patients</p></div>
        <div><p><i class="far fa-calendar-check"></i>Appointments</p></div>
        <div><p><i class="far fa-clipboard"></i>Records</p></div>
        <div><p><i class="fas fa-file-invoice"></i>Reports</p></div>
        <div><p><i class="fas fa-handshake"></i>Providers</p></div>
        <div><p><i class="fas fa-cog"></i>Settings</p></div>
        <div><p><i class="fas fa-user"></i>Profile</p></div>
        <p id="watermark">Telematica</p>
    </div>
    {%block body_block%}
    {%endblock%}
    <script src="{%static 'base/js/base.js'%}"></script>
</body>
</html>