<!--Checked-->
<!DOCTYPE html>
{% load static %}
<html lang="en" style="background-color:black">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    </head>

    <body>

    <img id=background src="{% static 'web-backgrounds/bg-1.jpg' %}" alt="">

        {% block return %}<a href=""><i class="fas fa-long-arrow-alt-left" ></i></a>{% endblock %}{% block home %}<i class="fas fa-bars"></i>{% endblock %}{% block social %} <i class="fas fa-users" data-url="{% url 'accounts:contacts' %}"></i> {% endblock %}

        <!-- Navigator -->
<!--        <div class="global-navigator">-->
<!--            &lt;!&ndash; Tabs &ndash;&gt;-->
<!--            <h2 class="global-navigator-title">Menu <span class="close-global-navigator"><i class="fas fa-times"></i></span></h2>-->
<!--            <div class="global-navigator-tab" onclick="window.location='{% url 'home:home' %}'"><p><i class="fas fa-home"></i></p></div>-->
<!--            <div class="global-navigator-tab" onclick="window.location='{% url 'patients:patients' %}'"><p><i class="fas fa-user-injured"></i></p></div>-->
<!--            <div class="global-navigator-tab" onclick="window.location='{% url 'appointments:appointments'%}'"><p><i class="fas fa-calendar-check"></i></p></div>-->
<!--            <div class="global-navigator-tab" onclick="window.location='{% url 'records:records' %}'"><p><i class="fas fa-clipboard"></i></p></div>-->
<!--            <div class="global-navigator-tab"><p><i class="fas fa-file-invoice"></i></p></div>-->
<!--            <div class="global-navigator-tab" onclick="window.location='{% url 'providers:providers' %}'"><p><i class="fas fa-handshake"></i></p></div>-->
<!--            <div class="global-navigator-tab" onclick="window.location='{% url 'settings:settings' %}'"><p><i class="fas fa-cog"></i></p></div>-->
<!--            <div class="global-navigator-tab" onclick="window.location='{% url 'accounts:profile' %}'"><p><i class="fas fa-user"></i></p></div>-->
<!--            <p id="watermark">Telematica</p>-->
<!--        </div>-->

        <!-- Social Content -->
<!--        <div class="social-section">-->
<!--            <div><i class="fas fa-times" id="close-social-section"></i><input id="social-section-search" type="text" placeholder="Search..."></div>-->
<!--            <div id="social-section-navigator"><div class="social-section-tab social-section-tab-active" data-url="{% url 'accounts:contacts' %}">Contacts</div><div class="social-section-tab" data-url="{% url 'accounts:chats' %}">Chats</div><div class="social-section-tab" data-url="{% url 'accounts:contact_requests' %}">Requests</div></div>-->
<!--            <div id="social-section-data"></div>-->
<!--        </div>-->

        {% block body_block %}
        {% endblock %}

<!--        <div class="loader-modal">-->
<!--            <i class="fas fa-heart"></i>-->
<!--            <div class="global-loader">-->
<!--            </div>-->
<!--        </div>-->

        <script src="{% static 'base/js/base.js' %}"></script>
        <script src="https://media.twiliocdn.com/sdk/js/chat/v4.0/twilio-chat.min.js"></script>
    </body>

</html>