{%extends 'base.html'%}
{%load static%}
{%block title%}MediTracker{%endblock%}
{%block body_block%}
{%block return%}{%endblock%}{%block home%}{%endblock%}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <video autoplay muted loop>
        <source src="{% static 'main/backgrounds/background_video.mp4' %}">
    </video>
    <div class="overlay">
        <div id="wrapper">
            <img src="{%static 'main/logo/logo.png'%}">
            <ul>
                <li onclick="window.location='{%url 'accounts:login'%}'">
                    Login
                </li>
                <li onclick="window.location='{%url 'accounts:signup'%}'">
                    Sign Up
                </li>
            </ul>
        </div>
    </div>
    <script src="{%static 'main/js/main.js'%}"></script>
{%endblock%}