<!--Checked-->
{%extends 'base.html'%}
{%load static%}
{%block title%}MediTracker{%endblock%}
{%block body_block%}
{%block return%}{%endblock%}{%block home%}{%endblock%}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <video autoplay muted loop>
        <source src="{% static 'main/backgrounds/background_video.mp4' %}">
    </video>
    <div class="overlay">
        <div id="wrapper">
            <img id="logo" src="{%static 'main/logo/logo.png'%}">
            <ul>
                <li data-url="{%url 'accounts:login'%}" class="login">
                    Log In
                </li>
                <li data-url="{%url 'accounts:signup'%}" class="sign-up">
                    Sign Up
                </li>
            </ul>
        </div>
    </div>

    <div class="modal">
        <div class="modal-content">

        </div>
    </div>

    <script src="{%static 'main/js/main.js'%}"></script>
{%endblock%}