<!--Checked-->
{%extends 'base.html'%}
{%load static%}
{%block title%}Add Patient{%endblock%}
{%block return%}{%endblock%}{%block home%}{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'patients/css/add_patient.css'%}">

    <form method="POST" autocomplete="off">

        {%csrf_token%}

        <div class="antecedents_management_form">
            {{antecedents_form.management_form}}
        </div>

        <div class="allergies_management_form">
            {{allergies_form.management_form}}
        </div>

        <div class="wrapper">

            <div class="general-info">
                <a href="{%url 'patients:patients'%}"><i class="fas fa-long-arrow-alt-left"></i></a>
                <h1>Add Patient</h1>
                <div class="info">
                {%if patient_form.errors%}
                    {%for error in patient_form.errors%}
                        <p class="error">{{error.as_text}}</p>
                    {%endfor%}
                {%endif%}

                {%for form in allergies_form%}
                    {%if form.non_field_errors%}
                        <p class="error">{{form.non_field_errors.as_text}}</p>
                    {%endif%}
                {%endfor%}

                {%for form in antecedents_form%}
                    {%if form.non_field_errors%}
                        <p class="error">{{form.non_field_errors.as_text}}</p>
                    {%endif%}
                {%endfor%}


                {%if insurance_form.non_field_errors%}
                    <p class="error">{{insurance_form.non_field_errors.as_text}}</p>
                {%endif%}

                    <p>{{patient_form.id_number.label}}</p>
                    <p>{{patient_form.id_number}}</p>
                    <p>{{patient_form.first_names.label}}</p>
                    <p>{{patient_form.first_names}}</p>
                    <p>{{patient_form.last_names.label}}</p>
                    <p>{{patient_form.last_names}}</p>
                    <p>{{patient_form.gender.label}}</p>
                    <p>{{patient_form.gender}}</p>
                    <p>{{patient_form.birthday.label}}</p>
                    <p>{{patient_form.birthday}}</p>
                    <p>{{patient_form.phone_number.label}}</p>
                    <p>{{patient_form.phone_number}}</p>
                    <p>{{patient_form.email.label}}</p>
                    <p>{{patient_form.email}}</p>
                    <p>{{patient_form.civil_status.label}}</p>
                    <p>{{patient_form.civil_status}}</p>
                    <p>{{patient_form.origin.label}}</p>
                    <p>{{patient_form.origin}}</p>
                    <p>{{patient_form.residence.label}}</p>
                    <p>{{patient_form.residence}}</p>
                </div>
                <button type="submit">Save</button>
            </div>


            <div class="extra-info">

                <h1>Extra Information</h1>
                <h2>Allergies</h2>
                    <div class="allergies-form">
                        <table>
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>About</th>
                                    <th><i class="fas fa-plus add-allergy-form"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                            {%for allergy_form in allergies_form%}
                                <tr class="form-container">
                                    <td>{{allergy_form.allergy_type}} <i class="fas fa-plus add-allergy" data-url="{%url 'settings:allergy_add'%}"></i></td>
                                    <td>{{allergy_form.about}}</td>
                                    <td><i class="fas fa-trash delete-allergy-form"></i></td>
                                    <td class="allergy-delete-check">{{allergy_form.DELETE}}</td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>


                <h2>Antecedents</h2>
                    <div class="antecedents-form">
                        <table>
                            <thead>
                                <tr>
                                    <th>Antecedent</th>
                                    <th>Info</th>
                                    <th><i class="fas fa-plus add-antecedent-form"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                            {%for antecedent_form in antecedents_form%}
                                <tr class="form-container">
                                    <td>{{antecedent_form.antecedent}}</td>
                                    <td>{{antecedent_form.info}}</td>
                                    <td><i class="fas fa-trash delete-antecedent-form"></i></td>
                                    <td class="antecedent-delete-check">{{antecedent_form.DELETE}}</td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>


                <h2>Insurance</h2>
                <div class="insurance-form">
                    <table>
                        <thead>
                            <tr>
                                <th>Insurance Carrier</th>
                                <th>Insurance Type</th>
                                <th>Expiration Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{insurance_form.insurance_carrier}} <i class="fas fa-plus add-insurance" data-url="{%url 'settings:insurance_add'%}"></i></td>
                                <td>{{insurance_form.type_of_insurance}}</td>
                                <td>{{insurance_form.expiration_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </form>


    <div class="modal">
        <div class="modal-content">

        </div>
    </div>







<script src="{%static 'patients/js/add_patient.js'%}"></script>
{%endblock%}
