{%extends 'base.html'%}
{%load static%}
{%block title%}Insurances{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'patients/css/insurances_list.css'%}">
    {%if insurance_list%}
        <h1>Insurances available in your country</h1>
            <table>
                <tr id="heading">
                    <th>Company</th>
                </tr>
                {%for i in insurance_list%}
                    <tr>
                        <td>{{i.company}}{{i.country}}</td>
                    </tr>
                {%endfor%}
            </table>
    {%else%}
        <p id="no_patients">No insurances listed {{origin}}</p>
        <a  id="add_patients" href="{%url 'patients:add_patient'%}"><i class="fas fa-plus"></i></a>
    {%endif%}
{%endblock%}