<!-- Template used to display specific patient charges dynamically-->
{% load static %}

<!-- If paginator is available -->
{% load patients_custom_tags %}

{% if charges.has_other_pages %}
    <div id="charges-paginator" class="paginator">
        <span> {{ charges.number }} / {{ charges.paginator.num_pages }} </span>
        <div class="navigation">
            {% if filtered %}
                {% if charges.has_previous %}<i class="fas fa-angle-left" data-url="{% url 'patients:filter_patient_details' %}{% current_url 'page' charges.previous_page_number request.GET.urlencode %}"></i>{% endif %}{% if charges.has_next %}<i class="fas fa-angle-right" data-url="{% url 'patients:filter_patient_details' %}{% current_url 'page' charges.next_page_number request.GET.urlencode %}"></i>{% endif %}
            {% else %}
                {% if charges.has_previous %}<i class="fas fa-angle-left" data-url="{% url 'patients:patients_details' patient.pk %}{% current_url 'page' charges.previous_page_number %}"></i>{% endif %}{% if charges.has_next %}<i class="fas fa-angle-right" data-url="{% url 'patients:patients_details' patient.pk %}{% current_url 'page' charges.next_page_number %}"></i>{% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}

{% if charges %}
    {% for c in charges %}
        <tr {% if c.medical_status %} onclick="window.location='{% url 'appointments:consult_details' c.pk %}'" {% endif %}>
            <td>{{ c.datetime|date }}</td>
            <td>{{ c.datetime|time }}</td>
            <td>{{ c.created_by }}</td>
            <td>{{ c.charge }}</td>
        </tr>
    {% endfor %}
{% else %}
    <p id="no-charges-data" >No Data</p>
{% endif %}