<!-- Template used to display specific patient charges dynamically-->
{%load static%}
<!--If charges are present this code will be rendered-->
{%if consults%}
<div>
    <table>
        <thead>
            <tr class="heading">
                <th>Date</th>
                <th>Time</th>
                <th>Created By</th>
                <th>$</th>
            </tr>
        </thead>
        <tbody>
            {%for c in consults%}
                {%if c.charge%}
                    <tr {%if c.medical_status%} onclick="window.location='{%url 'appointments:consult_details' c.pk %}'" {%endif%}>
                        <td>{{c.datetime|date}}</td>
                        <td>{{c.datetime|time}}</td>
                        <td>{{c.created_by}}</td>
                        <td>{{c.charge}}</td>
                    </tr>
                {%endif%}
            {%endfor%}
        </tbody>
    </table>
</div>
<div>
    <!-- Filtering Form -->
    <i class="fas fa-filter charges-filter"></i><i class="fas fa-sync-alt charges-reload"></i>
    <form method="POST" action="{%url 'patients:patients_details' patient.pk%}" class="charges-form">
        <h1>Filter Results</h1>
        {%csrf_token%}
        <p>{{consults_form.date_from.label}}</p>
        <p>{{consults_form.date_from}}</p>
        <p>{{consults_form.date_to.label}}</p>
        <p>{{consults_form.date_to}}</p>
        <p class="error">{{error}}</p>
        <button type="submit">Submit</button>
    </form>
</div>
<!--If no charges are present this code will be rendered-->
{%else%}
<p class="no-data">No Charges</p>
{%endif%}