{% load static %}

<!-- This code will be executed if there are instances available-->
{% if patients %}
    <div class="data-table" >
        <table>
            <thead>
                <tr id="heading">
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Origin</th>
                    <th>Residence</th>
                    <th>Insurance?</th>
                    <!-- This code will check if the user is a doctor -->
                    {% if doctor %}<th>Edit</th>
                    <th>Delete</th>{% endif %}
                    <th><i class="fas fa-plus" onclick="window.location='{% url 'patients:add_patient' %}'"></i></th>
                </tr>
            </thead>
            <tbody>
                <!--Included Template, this included template is used to display content dynamically in our main page. -->
                {% include 'patients/patients_partial_list.html' %}
           </tbody>
        </table>
    </div>

    <div>
        <!-- Patient filtering form -->
        <i class="fas fa-filter"></i>
        <form method="GET" action="{% url 'patients:filter_patients' %}" autocomplete="off" class="result-filter filter-form">
            <h3>Filter Results</h3>
            <p>{{ form.patient.label }} Name</p>
            <p>Or</p>
            <p>ID Number</p>
            <p>{{ form.patient  }}</p>
        </form>
    </div>
{% else %}
    <!-- This code will be executed if there are no instances available -->
    <p id="no-patients">There are no patients listed</p>
    <a  id="add-patients" href="{% url 'patients:add_patient' %}"><i class="fas fa-plus"></i></a>
{% endif %}
