<!-- Template used to display specific patient exams dynamically-->
{% load static %}

<!--If exams are present this code will be rendered-->
{% if exams %}
    {% for e in exams %}
        <tr onclick="window.location='{% url 'appointments:consult_details' e.consult.pk %}'">
            <td>{{ e.consult.datetime|date }}</td>
            <td>{{ e.consult.datetime|time }}</td>
            <td>{{ e.consult.created_by }}</td>
            <td>{{ e.get_type_display }}</td>
            <td data-img-src="{{ MEDIA_URL }}{{ e.image }}" class="exam-filename">{{e}}</td>
        </tr>
    {% endfor %}
{% endif %}