{% load static %}
{% for vaccine in vaccines %}
    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>
    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>    <tr>
        <td>{{ vaccine.vaccine_applied.name }}</td>
        <td>{{ vaccine.vaccine_applied.scientific_name }}</td>
        <td>{{ vaccine.datetime.date }}</td>
        <td>{{ vaccine.datetime.time }}</td>
        <td><i class="fas fa-edit"></i></td>
    </tr>
{% endfor %}
