<!-- Template used to display specific patients dinamically-->
{%load static%}
<!--If patients are present this code will be rendered-->
{%if patients.has_other_pages%}<div id="paginator"> <span>{{patients.number}} / {{patients.paginator.num_pages}}</span> <div class="navigation">{%if patients.has_previous%}<i class="fas fa-angle-left" data-url="{%url 'patients:patients'%}" data-page="?page={{patients.previous_page_number}}">{%endif%}</i>{%if patients.has_next%}<i class="fas fa-angle-right" data-url="{%url 'patients:patients'%}" data-page="?page={{patients.next_page_number}}"></i>{%endif%}</div></div>{%endif%}
{%if patients%}
    {%for p in patients%}
        <tr onclick="window.location='{%url 'patients:patients_details' p.pk%}'">
            <td>{%if p.id_number%}{{p.id_number}}{%else%}-------------{%endif%}</td>
            <td>{{p.first_names}}</td>
            <td>{{p.last_names}}</td>
            <td>{{p.age}}</td>
            <td>{{p.get_origin_display}}</td>
            <td>{{p.get_residence_display}}</td>
            <td>{%if p.insurance.insurance_carrier != None%}{{p.insurance.insurance_carrier}}{%else%}Not Available{%endif%}</td>
            {%if doctor%}<td data-url="{%url 'patients:patients_update' p.pk%}"><i class="fas fa-edit"></i></td>
            <td data-url="{%url 'patients:patients_delete' p.pk%}"><i class="fas fa-trash"></i></td>{%endif%}
            <!-- This condition is used to notify the user that some information inside that patient instance, presents
                 anomallies, and must be corrected. We will also display a small pop-up -->
            {%if p.age >= 18 and not p.id_number and p.insurance.expiration_date <= today%}
                <td><i class="fas fa-exclamation-circle" data-message-code="out-of-date-info"></i></td>
            {%elif p.age >= 18 and not p.id_number%}
                <td><i class="fas fa-exclamation-circle" data-message-code="no-id-registered"></i></td>
            {%elif p.insurance.insurance_carrier and p.insurance.expiration_date <= today%}
                <td><i class="fas fa-exclamation-circle" data-message-code="expired-insurance"></i></td>
            {%else%}
                <td><i class="fas fa-check-circle" data-message-code="in-order"></i></td>
            {%endif%}
        </tr>
    {%endfor%}
<!--If no patients are present this code will be rendered-->
{%else%}
    <p class="no-patients-listed">Clear section, no data stored</p>
{%endif%}