<!--This template is used to display the details of any specific patient-->
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ patient.first_names }} {{ patient.last_names }}{% endblock %}
{% block return %}<a href="{% url 'patients:patients' %}"><i class="fas fa-long-arrow-alt-left"></i></a>{% endblock %}{% block home %}{% endblock %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'patients/css/patient_details.css' %}">

<h2 id="title">{{ patient.first_names }} {{ patient.last_names }}</h2>

<!--Info Navigation, this is used to select what information the user wants to see.-->
<div class="info">
    <div class="info-tab tab-active"><p>General</p></div><div class="info-tab"><p>Appointments</p></div><div class="info-tab"><p>Exams</p></div><div class="info-tab"><p>Charges</p></div>
</div>

<div class="wrapper">
    <!-- General Information of the patient-->
    <div class="general-info">
        <div class="general">
            <h2>General</h2>
            <div class="title">General Information</div>
            <p>Id Card Number: {{ patient.id_number }}</p>
            <p class="name">First Name: {{ patient.first_names }}</p>
            <p class="name">Last Name: {{ patient.last_names }}</p>
            <p>Gender: {{ patient.get_gender_display }}</p>
            <p>Birthday: {{ patient.birthday|date:"d M, Y" }}</p>
            <p>Age: {{ patient.age }}</p>
            <p>Phone Number: {{ patient.phone_number }}</p>
            <p>Email: {{ patient.email }}</p>
            <p>Civil Status: {{ patient.get_civil_status_display }}</p>
            <p>Origin: {{ patient.get_origin_display }}</p>
            <p>Residence: {{ patient.get_residence_display }}</p>
        </div>
        <div class="background">
            <h2>Background</h2>
            <div class="title">Allergies</div>
            {% if patient.allergies.all %}
                {% for allergy in patient.allergies.all %}
                    <p>{{ forloop.counter }}. {{ allergy.allergy_type }} - {{ allergy.about }}</p>
                {% endfor %}
            {% else %}
                <p>No Data</p>
            {% endif %}
            <div class="title">Antecedents</div>
            {% if patient.antecedents.all %}
                {% for antecedent in patient.antecedents.all %}
                    <p>{{ forloop.counter }}. {{ antecedent.antecedent }} - {{ antecedent.info }}</p>
                {% endfor %}
            {% else %}
                <p>No Data</p>
            {% endif %}
            <div class="title">Insurance</div>
            {% if patient.insurance.insurance_carrier or patient.type_of_insurance %}
                <p>Insurance Carrier: {{ patient.insurance.insurance_carrier }}</p>
                <p>Insurance Type: {{ patient.insurance.insurance_type }}</p>
                <p>Expiration Date: {{ patient.insurance.expiration_date }}</p>
            {% else %}
                <p>No Data</p>
            {% endif %}
        </div>
    </div>
    <div class="filterable appointments">
        <!--If no consults are present this code will be rendered-->
        {% if consults %}
            <div>
                <table>
                    <thead>
                        <tr class="heading">
                            <th>Date</th>
                            <th>Time</th>
                            <th>Medical Status</th>
                            <th>Status</th>
                            <th>Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Included template for dynamic displaying of results-->
                        {% include 'patients/patient_consults_partial_list.html' %}
                    </tbody>
                </table>
            </div>
            <div>
                <!--Filtering form-->
                <i class="fas fa-filter appointments-filter"></i>
                <form method="GET" action="{% url 'patients:filter_patient_details' %}" class="appointments-form">
                    <h3>Filter Results</h3>
                    <p>{{ consults_form.date_from.label }}</p>
                    <p>{{ consults_form.date_from }}</p>
                    <p>{{ consults_form.date_to.label }}</p>
                    <p>{{ consults_form.date_to }}</p>
                    <p class="error"><small>{{ error }}</small></p>
                    <button type="submit">Submit</button>
                </form>
            </div>
        {% else %}
            <p class="no-data">No Data</p>
        {% endif %}
    </div>
    <div class="filterable exams">
        {% if exams %}
            <div>
                <table>
                    <thead>
                        <tr class="heading">
                            <th>Date</th>
                            <th>Time</th>
                            <th>Created By</th>
                            <th>Type</th>
                            <th>Exams</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- Included template for dynamic displaying of results-->
                    {% include 'patients/patient_exams_partial_list.html' %}
                    </tbody>
                </table>
            </div>
            <div>
                <!-- Filtering form -->
                <i class="fas fa-filter exams-filter"></i>
                <form method="GET" action="{% url 'patients:filter_patient_details' %}" class="exams-form">
                    <h3>Filter Results</h3>
                    <p>{{ consults_form.date_from.label }}</p>
                    <p>{{ consults_form.date_from }}</p>
                    <p>{{ consults_form.date_to.label }}</p>
                    <p>{{ consults_form.date_to }}</p>
                    <p class="error"><small>{{ error }}</small></p>
                    <button type="submit">Submit</button>
                </form>
            </div>
        <!--If no exams are present this code will be rendered-->
        {% else %}
            <p class="no-data">No Data</p>
        {% endif %}
    </div>
    <div class="filterable charges">
        <!--If charges are present this code will be rendered-->
        {% if charges %}
            <div>
                <table>
                    <thead>
                        <tr class="heading">
                            <th>Date</th>
                            <th>Time</th>
                            <th>Created By</th>
                            <th>$</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Included template for dynamic displaying of results-->
                        {% include 'patients/patient_charges_partial_list.html' %}
                    </tbody>
                </table>
            </div>
            <div>
                <!-- Filtering Form -->
                <i class="fas fa-filter charges-filter"></i>
                <form method="GET" action="{% url 'patients:filter_patient_details' %}" class="charges-form">
                    <h3>Filter Results</h3>
                    <p>{{ consults_form.date_from.label }}</p>
                    <p>{{ consults_form.date_from }}</p>
                    <p>{{ consults_form.date_to.label }}</p>
                    <p>{{ consults_form.date_to }}</p>
                    <p class="error"><small>{{ error }}</small></p>
                    <button type="submit">Submit</button>
                </form>
            </div>
        <!--If no charges are present this code will be rendered-->
        {% else %}
            <p class="no-data">No Data</p>
        {% endif %}
    </div>
</div>
<!--Modal used for image previewing.-->
<div class="image-preview">
    <img class="previewed-image" src="" alt="">
</div>

<script src="{% static 'patients/js/patient_details.js' %}"></script>
{% endblock %}