<!--Checked-->
{%extends 'base.html'%}
{%load static%}
{%block title%}{{patient.first_names}} {{patient.last_names}}{%endblock%}
{%block return%}<a href="{%url 'patients:patients'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}{%block home%}{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'patients/css/patient_details.css'%}">

<h1 id="title">{{patient.first_names}} {{patient.last_names}}</h1>

<!--Info Navigation-->
<div class="info">
    <div class="info-tab tab-active"><p>General</p></div><div class="info-tab"><p>Background</p></div><div class="info-tab"><p>Appointments</p></div><div class="info-tab"><p>Exams</p></div><div class="info-tab"><p>Charges</p></div>
</div>

<div class="wrapper">
    <div class="general-info">
        <div class="title">General Information</div>
        <h3>Id Card Number: {{patient.id_number}}</h3>
        <h3 class="name">First Name: {{patient.first_names}}</h3>
        <h3 class="name">Last Name: {{patient.last_names}}</h3>
        <h3>Gender: {{patient.get_gender_display}}</h3>
        <h3>Birthday: {{patient.birthday|date:"d M, Y"}}</h3>
        <h3>Age: {{patient.age}}</h3>
        <h3>Phone Number: {{patient.phone_number}}</h3>
        <h3>Email: {{patient.email}}</h3>
        <h3>Civil Status: {{patient.get_civil_status_display}}</h3>
        <h3>Origin: {{patient.get_origin_display}}</h3>
        <h3>Residence: {{patient.get_residence_display}}</h3>
    </div>
    <div class="extras">
        <div class="allergies">
            <div class="title">Allergies</div>
                {%if allergies%}
                    {%for allergy in allergies%}
                        <h3>Allergy Type: {{allergy.allergy_type}}</h3>
                        <h3>About: {{allergy.about}}</h3>
                        <hr>
                    {%endfor%}
                {%else%}
                    <p class="no-background">No Allergies</p>
                {%endif%}
        </div>
        <div class="antecedents">
            <div class="title">Antecedents</div>
                {%if antecedents%}
                    {%for antecedent in antecedents%}
                        <h3>Antecedent: {{antecedent.antecedent}}</h3>
                        <h3>Information: {{antecedent.info}}</h3>
                        <hr>
                    {%endfor%}
                {%else%}
                    <p class="no-background">No Antecedents</p>
                {%endif%}
        </div>
        <div class="insurance">
            <div class="title">Insurance</div>
                {%if insurance%}
                    <h3>Insurance Carrier: {{insurance.insurance_carrier}}</h3>
                    <h3>Type of Insurnace: {{insurance.type_of_insurance}}</h3>
                    <h3>Expiration Date: {{insurance.expiration_date}}</h3>
                {%else%}
                    <p class="no-background">No Insurance Information</p>
                {%endif%}
        </div>
    </div>
    <div class="filterable appointments">
        {%include 'patients/patient_consults_partial_list.html'%}
    </div>
    <div class="filterable exams">
        {%include 'patients/patient_exams_partial_list.html'%}
    </div>
    <div class="filterable charges">
        {%include 'patients/patient_charges_partial_list.html'%}
    </div>
</div>

<div class="image-preview">
    <img class="previewed-image" src="" alt="">
</div>

<script src="{%static 'patients/js/patient_details.js'%}"></script>
{%endblock%}