{%load static%}
{%if consults%}
<div>
    <table>
        <thead>
            <tr class="heading">
                <th>Date</th>
                <th>Time</th>
                <th>Medical Status</th>
                <th>Status</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
        {%for c in consults%}
        <tr onclick="window.location='{%url 'appointments:consult_details' c.pk %}'">
            <td>{{c.datetime|date}}</td>
            <td>{{c.datetime|time}}</td>
            {%if c.medical_status%}
            <td class="attended">Attended</td>
            {%else%}
            <td class="not-attended">Not Attended</td>
            {%endif%}
            {%if c.status == 'OPEN'%}
                <td class="Open">Open</td>
            {%elif c.status == 'CONFIRMED'%}
                <td class="Confirmed">Confirmed</td>
            {%elif c.status == 'CANCELLED'%}
                <td class="Canceled">Cancelled</td>
            {%elif c.status == 'CLOSED'%}
                <td class="Closed">Closed</td>
            {%endif%}
            <td>{{c.created_by}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
<div>
    <i class="fas fa-filter appointments-filter"></i></i><i class="fas fa-sync-alt appointments-reload"></i>
    <form method="POST" action="{%url 'patients:patients_details' patient.pk%}" class="appointments-form">
        <h1>Filter Results</h1>
        {%csrf_token%}
        <p>{{consults_form.date_from.label}}</p>
        <p>{{consults_form.date_from}}</p>
        <p>{{consults_form.date_to.label}}</p>
        <p>{{consults_form.date_to}}</p>
        <p>{{error}}</p>
        <button type="submit">Submit</button>
    </form>
</div>
{%else%}
<p class="no-data">No consults</p>
{%endif%}