<!-- Template used to display specific patient exams dynamically-->
{% load static %}

<!-- If paginator is available -->
{% load patients_custom_tags %}

{% if exams.has_other_pages %}
    <div id="exams-paginator" class="paginator">
        <span> {{ exams.number }} / {{ exams.paginator.num_pages }} </span>
        <div class="navigation">
            {% if filtered %}
                {% if exams.has_previous %}<i class="fas fa-angle-left" data-url="{% url 'patients:filter_patient_details' %}{% current_url 'page' exams.previous_page_number request.GET.urlencode %}"></i>{% endif %}{% if exams.has_next %}<i class="fas fa-angle-right" data-url="{% url 'patients:filter_patient_details' %}{% current_url 'page' exams.next_page_number request.GET.urlencode %}"></i>{% endif %}
            {% else %}
                {% if exams.has_previous %}<i class="fas fa-angle-left" data-url="{% url 'patients:patients_details' patient.pk %}{% current_url 'page' exams.previous_page_number %}"></i>{% endif %}{% if exams.has_next %}<i class="fas fa-angle-right" data-url="{% url 'patients:patients_details' patient.pk %}{% current_url 'page' exams.next_page_number %}"></i>{% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}

<!--If exams are present this code will be rendered-->
{% if exams %}
    {% for e in exams %}
        <tr onclick="window.location='{% url 'appointments:consult_details' e.consult.pk %}'">
            <td>{{ e.consult.datetime|date }}</td>
            <td>{{ e.consult.datetime|time }}</td>
            <td>{{ e.consult.created_by }}</td>
            <td>{{ e.get_type_display }}</td>
            <td data-img-src="{{ MEDIA_URL }}{{ e.image }}" class="exam-filename">{{e}}</td>
        </tr>
    {% endfor %}
{% else %}
    <p id="no-exams-data">No Data</p>
{% endif %}