<!--Included Template in patients.html-->
{%load static%}
{%for p in patients%}
    <tr data-url="{%url 'patients:patients_details' p.pk%}" data-id = {{p.pk}}>
        <td>{{p.id_number}}</td>
        <td>{{p.first_names}}</td>
        <td>{{p.last_names}}</td>
        <td>{{p.birthday}}</td>
        <td>{{p.age}}</td>
        <td>{{p.phone_number}}</td>
        <td>{{p.get_civil_status_display}}</td>
        <td>{{p.get_origin_display}}</td>
        <td>{{p.get_residence_display}}</td>
        {%if doctor%}<td><a href="{%url 'patients:patients_update' p.pk%}"><i class="fas fa-edit"></i></a></td>
        <td><a class="delete" href="{%url 'patients:patients_delete' p.pk%}"><i class="fas fa-trash"></i></a></td>{%endif%}
        <td></td>
    </tr>
{%endfor%}