{%extends 'base.html'%}
{%load static%}
{%block title%}Delete Error{%endblock%}
{%block return%}<a href="{%url 'patients:patients'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'patients/css/patient_delete_error.css'%}">
    <h1>Patient Delete Prevention</h1>
    <p>{{error}}</p>
    <button type="button" onclick="window.location='{%url 'patients:patients'%}'">Return</button>
<script src="{%static 'patients/js/patient_delete_error.js'%}"></script>
{%endblock%}