{%extends 'base.html'%}
{%load static%}
{%block title%}Update Patient{%endblock%}
{%block return%}<a href="{%url 'patients:patients'%}"><i class="fas fa-long-arrow-alt-left"></i></a>{%endblock%}
{%block body_block%}
<link rel="stylesheet" href="{%static 'patients/css/add_patient.css'%}">
    <form method="POST" autocomplete="off">
        {%csrf_token%}
        <h1>Update Patient</h1>
        <div class="wrapper">
            <div>
                <h2>Patient</h2>
                <p>{{patient_form.id_number.label}}</p>
                <p>{{patient_form.id_number}}</p>
                <p>{{patient_form.first_names.label}}</p>
                <p>{{patient_form.first_names}}</p>
                <p>{{patient_form.last_names.label}}</p>
                <p>{{patient_form.last_names}}</p>
                <p>{{patient_form.birthday.label}}</p>
                <p>{{patient_form.birthday}}</p>
                <p>{{patient_form.phone_number.label}}</p>
                <p>{{patient_form.phone_number}}</p>
                <p>{{patient_form.civil_status.label}}</p>
                <p>{{patient_form.civil_status}}</p>
                <p>{{patient_form.origin.label}}</p>
                <p>{{patient_form.origin}}</p>
                <p>{{patient_form.residence.label}}</p>
                <p>{{patient_form.residence}}</p>
                {%if patient_form.errors%}
                    {%for error in patient_form.errors%}
                        {{error}}
                    {%endfor%}
                {%endif%}
            </div>
            <div>
                <h2>Antecedents</h2>
                <p>{{antecedents_form.antecedent.label}}</p>
                <p>{{antecedents_form.antecedent}}</p>
                <p>{{antecedents_form.info.label}}</p>
                <p>{{antecedents_form.info}}</p>
                <h2>Allergies</h2>
                <p>{{allergies_form.allergy_type.label}}</p>
                <p>{{allergies_form.allergy_type}}</p>
                <p>{{allergies_form.about.label}}</p>
                <p>{{allergies_form.about}}</p>
            </div>
            <div>
                <h2>Insurance</h2>
                <p>{{insurance_form.insurance_carrier.label}}</p>
                <p>{{insurance_form.insurance_carrier}}</p>
                <p>{{insurance_form.type_of_insurance.label}}</p>
                <p>{{insurance_form.type_of_insurance}}</p>
                <p>{{insurance_form.expiration_date.label}}</p>
                <p>{{insurance_form.expiration_date}}</p>
            </div>
        </div>
        <button type="submit">Save Changes</button>
    </form>
{%endblock%}