/*Checked*/

/*
    Color Listing
    -------------
    -------------
    #496897;
    #FFFFFF;
    #5A7FAF;
    #C7E8F3;
    #00CCFF;
    #A31621;
    #456387;
    #6082AD;
    #6E8DB4;
    #25BB41;
    #CBA415;
    rgba(0,0,0,0)
    rgba(0,0,0,0.3)
    #00E083;
    #EAC234;
    #D73533;
    #95B6C6;


    Base
    -----

    Background Color: #496897;
    Text Color: #FFFFFF;
    Button Color: #5A7FAF;
    Button Hovers: #C7E8F3;
    Button Hovers Text: #496897;
    Button Borders: #C7E8F3;
    Input Background: #5A7FAF;
    Input Borders: #C7E8F3;
    Input Text: #FFFFFF;
    Forms: #5A7FAF;
    Icons: #FFFFFF;
    Icons Hover: #00CCFF;
    Search Bar: #496897;
    Query Results: #496897;

    Main Forms
    ----------
    Background color: rgba(0,0,0,0)
    Text Color: #FFFFFF
    Button Hover: #FFFFFF
    Button Text on Hover: #496897;

    Menu
    -----

    Menu Background: #496897;
    Menu Text: #FFFFFF;
    Menu Tile Hover: #FFFFFF;
    Menu Text Hover: #3C567C;
    Menu Exit: #A31621;

    Tiles
    -----

    Tiles Background Color: #5A7FAF;
    Tiles Hover: #FFFFFF;

    Table
    _____
    Table Header: #456387;
    Table Row (Odd): #6082AD;
    Table Row (Even): #6E8DB4;
    Table Row Hover: #C7E8F3;
    Table Row Hover Text: #496897;


    Scroll
    --------
    Scroll bar track: #3C567C;
    Scroll bar thumb: #C7E8F3;

    Status
    ------
    Open: #EAC234;
    Confirmed: #00E083;
    Closed: #D73533;
    Cancelled: #95B6C6;
    Pending: #EAC234;
    Attended: #00E083;
    Never Attended: #D73533;

    Warnings
    _______________________

    In-Order: #25BB41;
    Anomally: #CBA415;
    Popup: #CBA415;
    Popup Text: #496897;

    Operations
    ----------

    Add: #25BB41;
    Delete: #A31621;
    Update: #CBA415;
    Confirm: #25BB41;
    Cancel: #D73533;

    Errors & Reminders
    __________________

    Error: #FFFFFF;
    Reminders: #FFFFFF;



    # Titles
    Titles: H2

    # Filter Forms Font Size:
    Title: H3
    Other Content: Paragraph + Small

    #Modal Timing
    Timing: 0.3s;
    Background opacity: rgba(0,0,0,0.3)

*/

/*Body*/
body{
    font-family: 'Nunito', sans-serif;
    background-color: #496897;
    color: #FFFFFF;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #496897;
}

::-webkit-scrollbar-thumb {
    background: #C7E8F3;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

/*Icons*/
.fa-long-arrow-alt-left{
    position: relative;
    font-size: 25px;
    transition: 0.5s;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

.fa-long-arrow-alt-left:hover{
    color: #00CCFF;
    transition: 0.5s;
}

.fa-bars{
    position: relative;
    font-size: 25px;
    transition: 0.5s;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

.fa-bars:hover{
    color: #00CCFF;
    transition: 0.5s;
    cursor: pointer;
}

.fa-bars-hide{
    display: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.menu{
    background-color: #496897;
    text-align: justify;
    position: fixed;
    margin-left: -20%;
    height: 100%;
    width: 20%;
    top: 0;
    left:0;
    transition: all 0.5s;
}

.menu-show{
    margin-left: 0%;
    transition: margin-left 0.5s;
}

.menu > h2{
    padding: 5px;
}

.menu > div{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    height: 10.5%;
    text-align: justify;
    transition: 0.5s;
}

.menu > div:hover{
    background-color: #FFFFFF;
    cursor: pointer;
    color: #496897;
    transition: 0.5s;
}

.menu > div > p > i{
    padding: 10px;
    font-size: 25px;
    float: left;
    margin-left: 40%;
}

#menu{
    float: left;
}

.close{
    float: right;
    margin-right: 10px;
    transition: 0.5s;
}

.close:hover{
    color: #D73533;
    cursor:pointer;
    transition: 0.5s;
}

#watermark{
    font-size: 10px;
    margin-left: 40%;
}

.loader-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.loader-modal-hide{
    display: none;
}

.global-loader{
    position: absolute;
    top: 41%;
    left: 44.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0);
    border-top: 5px solid #FFFFFF;
    animation: spin 2s linear infinite;
}

.fa-heart{
    font-size: 32px;
    position: absolute;
    top: 48%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: beat 1s infinite alternate;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}