/*Checked*/

/*
    Color Listing
    -------------
    -------------

    Colors Used:
    #374E71
    #3C567C
    #456387
    #587CA9
    #6082AD
    #6E8DB4
    #7B97BB
    #FFFFFF
    #C7E8F3
    #EAC435
    #00CCFF
    #CBA415
    #25BB41
    #A31621


    Base
    -----

    Background Color: #3C567C;
    Text Color: #FFFFFF;
    Button Color: #5075A5;
    Button Hovers: #374E71;
    Button Borders: #C7E8F3;
    Input Borders: #C7E8F3;
    Forms: #5075A5;
    Icons: #FFFFFF;
    Icons Hover: 00CCFF;


    Menu
    -----

    Menu Background: #3C567C;
    Menu Text: #FFFFFF;
    Menu Tile Hover: #FFFFFF;
    Menu Text Hover: #3C567C;
    Menu Exit: #A31621;

    Tiles
    -----

    Tiles Background Color: #5075A5;
    Tiles Hover: #FFFFFF;

    Table
    _____
    Table Header: #456387;
    Table Row (Odd): #6082AD;
    Table Row (Even): #6E8DB4;
    Table Row Hover: #C7E8F3;
    Table Row Hover Text: #5075A5;


    Scroll
    --------
    Scroll bar track: #3C567C;
    Scroll bar thumb: #C7E8F3;

    Status
    ------
    Open: #ffe100;
    Confirmed: #32a852;
    Closed: #a83632;
    Cancelled: #b5b3a7;
    Pending: #ffe100;
    Attended: #32a852;
    Never Attended: #a83632;

    Warnings
    _______________________

    In-Order: #25BB41;
    Anomally: #CBA415;

    Operations
    ----------

    Add: #25BB41;
    Delete: #A31621;
    Update: #CBA415;

    Errors & Reminders
    __________________

    Error: #a83632;
    Reminders: #ffe100;


    # Titles
    Titles: H2

    # Forms Font Size:
    Title: H3
    Other Content: Paragraph + Small

    #Modal Timing
    Timing: 0.3s;

*/

/*Body*/
body{
    font-family: 'Nunito', sans-serif;
    background-color: #3C567C;
    color: #FFFFFF;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #3C567C;
}

::-webkit-scrollbar-thumb {
    background: #C7E8F3;
}

/*Icons*/
.fa-long-arrow-alt-left{
    position: relative;
    font-size: 25px;
    transition: 0.5s;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

.fa-long-arrow-alt-left:hover{
    color: #00CCFF;
    transition: 0.5s;
}

.fa-bars{
    position: relative;
    font-size: 25px;
    transition: 0.5s;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

.fa-bars:hover{
    color: #00CCFF;
    transition: 0.5s;
    cursor: pointer;
}

.fa-bars-hide{
    display: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.menu{
    background-color: #3C567C;
    text-align: justify;
    position: fixed;
    margin-left: -20%;
    height: 100%;
    width: 20%;
    top: 0;
    left:0;
    transition: all 0.5s;
}

.menu-show{
    margin-left: 0%;
    transition: margin-left 0.5s;
}

.menu > h2{
    padding: 5px;
}

.menu > div{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    height: 10.5%;
    text-align: justify;
    transition: 0.5s;
}

.menu > div:hover{
    background-color: #FFFFFF;
    cursor: pointer;
    color: #3C567C;
    transition: 0.5s;
}

.menu > div > p > i{
    padding: 10px;
    font-size: 25px;
    float: left;
    margin-left: 40%;
}

#menu{
    float: left;
}

.close{
    float: right;
    margin-right: 10px;
    transition: 0.5s;
}

.close:hover{
    color: #A31621;
    cursor:pointer;
    transition: 0.5s;
}

#watermark{
    font-size: 10px;
    margin-left: 40%;
}