/* This base.css file contains all the styles needed to present the base.html template, this file also contains the guide
   of the colors used in each element aroung the whole application, as well as the title size used in each element.*/
/*

    Global Classes and ID's

    .modal
    .modal--display
    .modal__button
    .modal__button--active
    .filter-form
    .filter-form--display
    #table-header
    .submit-button
    .submit-button--active
    input
    input:focus
    .input-active
    select
    select:focus
    textarea
    textarea:focus
    .data-table
    .data-table__icons
    .data-table__create
    .data-table__create--active
    .data-table__delete
    .data-table__delete--active
    .data-table__update
    .data-table__update--active
    .data-table__confirm
    .data-table__confirm--active
    .data-table__cancel
    .data-table__cancel--active
    .no-data


    Global Styles
    ------------------
    ------------------
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;


    New Colors Listing
    ------------------
    ------------------
    #FFFFFF;
    #000000;
    #EAC234;
    #00E083;
    #95B6C6;
    #D73533;
    #12212b;
    #CBA415;
    #25BB41;
    #359E23;
    #9E2323;

    Effects Used
    ----------------
    GlassMorphism


    Authentication Buttons
    ----------------------
    cursor: pointer;
    border: none;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    font-size: 16px;
    height: 50px;
    width: 120px;
    transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s;


    Authentication Submit Buttons
    ----------------------
    cursor: pointer;
    margin-top: 5%;
    width: 100px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: background-color 0.5s, color 0.5s, opacity 0.5s;


    Forms
    ------------------
    text-align: center;
    border-radius: 25px
    background-color: rgba(255,255,255,0.1)
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(10px)
    background-clip: padding-box;
    animation: show-up 2s linear forwards;
    z-index: 1


    Table
    --------------------
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 0.5s linear forwards;

    tr:nth-child(odd)
        background-color: rgba(255,255,255,0.1);


    tr:nth-child(even)
        background-color: rgba(255,255,255,0.2);


    Inputs
    --------------------
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-bottom: 1px solid #FFFFFF;

    Textarea
    ------------------
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 5px;
    resize: none;
    transition: 0.5s;

    Selects
    --------------------
    text-align-last: center;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;

    Modals
    ---------------------
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;

 */

/*////////////////////////////////////////////////////// Body ////////////////////////////////////////////////////////*/

body{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    overflow: hidden;
    user-select: none;
}

#background{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
}

/*///////////////////////////////////////////////// Notifications Popup //////////////////////////////////////////////*/

.notifications-popup{
    display: inline-block;
    position: absolute;
    top: -10%;
    right: 5%;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    border-radius: 5px;
    padding: 10px;
    transition: top 0.5s;
}

.notification-popup-show{
    top: 5%;
    transition: top 0.5s;
}


/*////////////////////////////////////////////////////// Titles //////////////////////////////////////////////////////*/

h1,h2,h3,h4,h5,h6{
    color: #FFFFFF;
}

/*////////////////////////////////////////////////////// Tables //////////////////////////////////////////////////////*/


.data-table{
    max-height: 767px;
    overflow-y: auto;
}

/*////////////////////////////////////////////////////// Status //////////////////////////////////////////////////////*/

#Open{
    background-color: #EAC234;
    color: #12212b;
    height: 100%;
}

#Confirmed{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

#Cancelled{
    background-color: #95B6C6;
    color: #12212b;
    height: 100%;
}

#Closed{
    background-color: #D73533;
    color: #12212b;
    height: 100%;
}

.Open{
    background-color: #EAC234;
    color: #12212b;
    height: 100%;
}

.Confirmed{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

.Cancelled{
    background-color: #95B6C6;
    color: #12212b;
    height: 100%;
}

.Closed{
    background-color: #D73533;
    color: #12212b;
    height: 100%;
}

#pending{
    background-color: #EAC234;
    color: #12212b;
    height: 100%;
}

#attended{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

.attended{
    background-color: #00E083;
    color: #12212b;
    height: 100%;
}

.not-attended{
    background-color: #D73533;
    color: #000000 !important;
}

#never_attended{
    background-color: #D73533;
    color: #12212b;
    height: 100%;
}

#status-0{
    background-color: #EAC234;
    color: #000000;
}

#status-1{
    background-color: #00E083;
    color: #000000;
    height: 100%;
}

/*////////////////////////////////////////////////////// Inputs //////////////////////////////////////////////////////*/

/*form{
    animation: show-up 0.5s linear;
}*/


/*////////////////////////////////////////////////////// Inputs //////////////////////////////////////////////////////*/

input{
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    height: 30px;
    width: 60%;
    transition: width 0.5s;
}

input:focus{
    outline: none;
}

.input-hover{
  width: 75%;
  transition: width 0.5s;
}

textarea{
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 5px;
  resize: none;
  transition: 0.5s;
}

textarea:focus{
  outline: none;
}

textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}

select{
  font-family: 'Nunito', sans-serif;
  text-align-last: center;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  height: 30px;
  width:60%;
  margin: 5px;
  transition: 0.5s;
}

select:focus{
    outline: none;
}


/*////////////////////////////////////////////////////// Buttons //////////////////////////////////////////////////////*/

button{
    font-family: 'Nunito', sans-serif;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    z-index: 1;
}

button:focus{
    outline: none;
}

.button-form-hover{
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}

.button-hover{
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
    cursor: pointer;
}

/*///////////////////////////////////////////////// ScrollBar ////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

/*///////////////////////////////////////////////// Icons ////////////////////////////////////////////////////////////*/

.fa-long-arrow-alt-left{
    position: relative;
    font-size: 25px;
    transition: 0.5s;
    margin-top: 1%;
    margin-left: 1%;
}

.fa-long-arrow-alt-left:hover{
    color: #00CCFF;
    transition: 0.5s;
}

.fa-bars{
    position: relative;
    font-size: 25px;
    transition: 0.5s;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

.fa-bars:hover{
    color: #00CCFF;
    transition: 0.5s;
    cursor: pointer;
}

.fa-bars-hide{
    display: none;
}

.fa-users{
    position: relative;
    float: right;
    font-size: 25px;
    transition: 0.5s;
    margin-top: 1%;
    margin-right: 1.5%;
}

.fa-users:hover{
    color: #00CCFF;
    transition: 0.5s;
    cursor: pointer;
}

.fa-search{
    position: absolute;
    top: 4.5%;
    left: 80%;
    font-size: 20px;
    color: #FFFFFF;
}

.fa-angle-left{
    cursor: pointer;
    transition: 0.5s;
    float: left;
}

.fa-angle-right{
    cursor: pointer;
    transition: 0.5s;
    float: right;
}

.fa-angle-hover{
    color: #00CCFF;
    transition: 0.5s;
}

.fa-plus{
    cursor: pointer;
    padding: 5px 10px 5px 5px;
    transition: 0.5s;
}

.fa-plus-hover{
    color: #25BB41;
    transition: 0.5s;
}

.fa-trash-hover{
    color: #A31621;
    cursor: pointer;
    transition: 0.5s;
}

.fa-edit-hover{
    color: #CBA415;
    cursor: pointer;
    transition: 0.5s;
}

.fa-envelope-hover{
    color: #00CCFF;
    transition: 0.5s;
}

.fa-edit-hover{
    color: #CBA415;
    transition: color 0.5s;
}

.fa-check-hover{
    color: #25BB41;
    transition: 0.5s;
}

.fa-times-circle-hover{
    color: #D73533;
    transition: 0.5s;
}

.fa-filter{
    float: left;
    transition: 0.5s;
}

.fa-filter-hover{
    cursor: pointer;
    color: #00CCFF;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/*////////////////////////////////////////////////// Global Navigator ////////////////////////////////////////////////*/

.global-navigator{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    text-align: justify;
    position: absolute;
    margin-left: -25%;
    height: 100%;
    width: 10%;
    top: 0;
    left:0;
    z-index: 1;
    display: block;
    transition: all 0.5s;
}

.global-navigator-show{
    margin-left: 0%;
    transition: margin-left 0.5s;
}

.global-navigator-tab{
    width: 100%;
    height: 12%;
    margin-top: 0px;
    vertical-align: top;
    text-align: justify;
    transition: 0.5s;
}

.global-navigator-tab-hover{
    background-color: #FFFFFF;
    cursor: pointer;
    color: #000000;
    transition: 0.5s;
}

.global-navigator-tab i{
    padding: 10px;
    font-size: 25px;
    float: left;
    margin-left: 34%;
    margin-top: 18%;
}

#watermark{
    font-size: 10px;
    margin-left: 33%;
}

/*//////////////////////////////////////////////////// Social Content ////////////////////////////////////////////////*/

.social-section{
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    margin-right: -30%;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    z-index: 1;
    transition: 0.5s;
}

.social-section-show{
    margin-right: 0%;
    transition: margin-right 0.5s;
}

.social-section-tab{
    display: inline-block;
    border-bottom: 1px solid #FFFFFF;
    width: 33.3%;
    text-align: center;
    padding: 10px 0px;
    transition: 0.5s;
}

.social-section-tab-hover{
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

.social-section-tab-active{
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
}

#no-content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.contact-profile-picture{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.accept-contact-request{
    font-size: 18px;
    float: right;
    margin-right: 10px;
}

.accept-contact-request-hover{
    color: #25BB41;
    cursor: pointer;
    transition: 0.5s;
}

.deny-contact-request{
    font-size: 20px;
    float: right;
    margin-right: 20px;
}

.deny-contact-request-hover{
    color: #A31621;
    cursor: pointer;
    transition: 0.5s;
}

.cell{
    width: 95%;
    height: 5%;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.cell:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
}

.cell:nth-child(even){
    background-color: rgba(255,255,255,0.2);
}

.contact-profile-picture{
    display: inline;
    float: left;
}

.contact-identification{
    display: inline;
    margin-left: 15px;
}

.chat-identification{
    display: inline;
    margin-left: 15px;
}

.request-identification{
    display: inline;
    margin-left: 15px;
}

/*//////////////////////////////////////////////////////// Chat //////////////////////////////////////////////////////*/

.messages-loader:first-child{
    border: 2px solid rgba(0,0,0,0);
    border-top: 2px solid #FFFFFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 42%;
    left: 45%;
    animation: spin 1s linear infinite;
}

.messages-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.messages-loader-hide{
    display: none;
}

#destination-profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    top: 7%;
}

#destination-user{
    position: absolute;
    top: 6%;
    left: 15.5%;
}

#chat-content{
    margin-top: 20%;
    width: 94%;
    height: 670px;
    max-height: 670px;
    overflow-y: auto;
    padding: 10px;
}

.reply{
    position: relative;
    display: inline;
    padding: 10px;
    border-radius: 5px;
    clear: both;
    float: left;
    color: #FFFFFF;
    background-color: rgba(255,255,255,0.3);
    margin-bottom: 15px;
    font-size: 14px;
    text-align: left;
    text-justify: justify;
    max-width: 60%;
}

.message{
    position: relative;
    display: inline;
    clear: both;
    float: right;
    margin-right: 5%;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: left;
    text-justify: justify;
    max-width: 60%;
    background-color: rgba(255,255,255,0.1);
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

#id_message{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border: 1px solid #FFFFFF;
    resize: none;
    color: #FFFFFF;
    margin-left: 10px;
}

#id_message:focus{
    outline: none;
}

#id_message::placeholder{
    color: #FFFFFF;
}

#send-message-btn{
    cursor: pointer;
    position: absolute;
    right: 4%;
    bottom: 4.5%;
    font-size: 22px;
    transition: 0.5s;
}

.send-message-btn-hover{
    color: #00CCFF;
    transition: 0.5s;
}

/*/////////////////////////////////////////////////////// Modal //////////////////////////////////////////////////////*/

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.modal-show{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s;
}

/*////////////////////////////////////////////////// Global Loader ///////////////////////////////////////////////////*/

.loader-modal{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
}

.loader-modal-show{
    display: block;
}

.global-loader{
    position: relative;
    top: 40%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0);
    border-top: 2px solid #FFFFFF;
    animation: spin 1s linear infinite;
}

.fa-heart{
    font-size: 32px;
    position: absolute;
    top: 47%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: beat 1s infinite alternate;
}

#global-loader-message{
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: glow 1s linear infinite;
}

/*//////////////////////////////////////////////////// Animations ////////////////////////////////////////////////////*/

@keyframes show-up{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes glow{
    0% {opacity: 0;}
    10% {opacity: 0.20;}
    20% {opacity: 0.40;}
    30% {opacity: 0.60;}
    40% {opacity: 0.80;}
    50% {opacity: 1;}
    60% {opacity: 0.80;}
    70% {opacity: 0.60;}
    80% {opacity: 0.40;}
    90% {opacity: 0.20;}
    100% {opacity: 0;}
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes beat {
  0% {transform: scale(1);}
  25% {transform: scale(1.2);}
  40% {transform: scale(1);}
  60% {transform: scale(1.2);}
  100% {transform: scale(1);}
}