/*Checked*/
/*Body*/
body{
    margin: 0px;
    padding: 0px;
}

/*Video*/
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position:fixed;
  z-index:0;
}

/*Image*/
.overlay {
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100%;
}

img{
    height: 100px;
    width: 100px;
    padding: 30px;
}

.image-hover{
    height: 100px;
    width: 100px;
}

/*List*/
#wrapper{
    width: 100%;
}

#wrapper ul{
    float: right;
    height: 100%;
    margin-right: 5%;
    margin-top: 2%;
}

#wrapper ul li{
    list-style: none;
    display: inline-block;
    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hover-over{
    background-color: rgba(0,0,0,0.3);
    transition: all 0.3s;
}

.login-btn-hide{
    opacity: 0;
    transition: 0.5s;
}

.signup-btn-hide{
    opacity: 0;
    transition: 0.5s;
}

/*Form*/

form{
    text-align: center;
    background-color: rgba(0,0,0,0);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 60%;
}

h1{
    padding: 25px;
}

.advice{
    font-size: 14px;
}

/*Inputs*/
input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #FFFFFF;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

input[type=password]{
    font: small-caption;
}

input:focus{
    outline: none;
}

.input-hover{
  width: 75%;
  transition: 0.5s;
}

/*Buttons and Links*/
button{
    margin: 5px;
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: rgba(0,0,0,0);
    border-color: #C7E8F3;
    border-radius: 10px;
    color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

button:focus{
    outline: none;
}

.button-hover{
    background-color: #FFFFFF;
    color: #496897;
    cursor: pointer;
    transition: 0.5s;
}

.button-fadeIn{
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

/*Links*/
form a{
   font-size: 12px;
   text-decoration: underline;
   transition:0.5s;
}

.update-password-hover{
    font-size: 15px;
    transition:0.5s;
}

/*Password Reset Done*/
.password-reset-done{
    background-color: rgba(0,0,0,0);
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 50%;
    padding: 15px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.continue{
    text-align: center;
    transition: 0.5s;
}

.continue-hover{
    cursor: pointer;
    transition: 0.5s;
}

.password-reset-done a{
    text-decoration: underline;
}

.new-password-reset{
    transition:0.5s;
}

.new-password-reset-hover{
    font-size: 20px;
    transition:0.5s;
}

/*Sign Up Form*/
.signup-form{
    text-align: center;
    background-color: rgba(0,0,0,0);
    width: 70%;
}

.wrapper{
    display: grid;
    grid-template-columns: 40% 59%;
    grid-gap: 1%;
}

.personal-info{
    padding-bottom: 15%;
}

.account-info{
    padding-top: 20%;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #FFFFFF;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #FFFFFF;
  height: 30px;
  transition: 0.5s;
}

select:focus{
    outline: none;
}

.signup-form button{
    width: 20%;
}

/*Modal*/
.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.modal-show{
    opacity: 1;
}

/*Account type selector*/
.account-type-selector{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    position: absolute;
    height: 20%;
    width: 40%;
    top: 40%;
    left: 30%;
    text-align: center;
    visibility: hidden;
}

.account-type-selector-show{
    cursor: pointer;
    visibility: visible;
}

.account-type-selector-hover{
    color: #496897;
    background-color: #FFFFFF;
    transition: background-color 0.3s;
}

.account-type-selector i{
    margin-top: 15%;
    margin-right: 10px;
    font-size: 50px;
    pointer-events: none;
}