/*Checked*/
.password-reset-done{
    background-color: #5A7FAF;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    padding: 15px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}