/*Checked*/
/*Form*/
form{
    text-align: center;
    background-color: #12212b;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

h1{
    padding: 25px;
}

p{
    font-size: 20px;
}

/*Inputs*/
input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #0ff5fc;
  background-color: #12212b;
  border: 2px solid #0ff5fc;
  border-radius: 15px;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

input[type=password]{
    font: small-caption;
}

.input-hover{
  width: 75%;
  transition: 0.5s;
}

/*Button*/
button{
    margin: 20px;
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #12212b;
    border: 2px solid #0ff5fc;
    border-radius: 10px;
    color: #0ff5fc;
}

.button-hover{
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
}

/*Link*/
a{
    text-decoration: underline;
    transition: 0.5s;
}

.link-hover{
    font-size: 24px;
    transition: 0.5s;
}

#invalidlink{
    text-align: center;
    background-color: #12212b;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 30%;
}
