/* This password_reset_complete.css file contains all the styles to display the password reset complete template properly. */

/*//////////////////////////////////////////////// Text Box //////////////////////////////////////////////////////////*/

.password-reset-complete{
    text-align: center;
    background-color: #5A7FAF;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}