/*Test*/

/*Main Content*/
body{
    overflow:hidden;
}

i:not(.fa-camera){
    position: relative;
    z-index:1;
}

.fa-camera-hover{
    color: #32a852;
    cursor: pointer;
    transition: 0.5s;
}

.fa-edit{
    float:right;
    margin-right: 10px;
    transition: 0.5s;
}

.fa-edit-hover{
    color: #ffe100;
    cursor: pointer;
    transition: 0.5s;
}

.edit-profile-picture-modal .fa-pen{
    margin-top: 50%;
    margin-left: 45%;
}

.background-edit-modal .fa-pen{
    font-size: 24px;
    margin-top: 10%;
    transition: 0.5s;
}

.fa-pen-hover{
    cursor: pointer;
    color: #32a852;
}

.menu{
    position: absolute;
    z-index: 2;
}

.background{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 30%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    padding: 0px;
}

.background-container{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
}

.background-picture{
    width: 100%;
    height: auto;
    margin: auto;
}

.background-edit-modal{
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    margin-top: 20%;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    transition: 0.5s;
}

.background-edit-modal-show{
    margin-top: 0%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.background .fa-camera{
    font-size: 32px;
    margin-top: 7%;
    transition: 0.5s;
}

.fa-camera-hover{
    color: #32a852;
    cursor: pointer;
    transition: 0.5s;
}

.background fa-edit{
    float: right;
}

/*Profile Picture*/
.profile-picture-container{
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 5%;
    overflow: hidden;
    border-color:transparent;
}

.profile-picture-container-modal{
    position: static;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.profile-picture{
    width: 200px;
    height: 200px;
}

.profile-modal-picture{
    width: 200px;
    height: 200px;
}

.edit-profile-picture-modal{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 0%;
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.edit-profile-picture-modal-show{
    margin-top: -103%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.information{
    display: grid;
    grid-template-columns: 30% 70%;
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #12212b;
    top: 30%;
    left: 0;
}

.biography{
    text-align: justify;
}

.biography h4{
    margin-top: 25%;
    margin-left: 35%;
}

.biography h3{
    margin-left: 35%;
}

.biography p{
    width: 80%;
    margin-left: 5%;
}

.biography-content{
    overflow-x: auto;
    padding: 10px;
    max-height: 250px;
}

.activity-information{
    position: absolute;
    bottom: 0;
    width: 28%;
    text-align: center;
}

.personal-information hr{
    border: none;
    border-bottom: 1px solid #0ff5fc;
}

.personal-information h4{
    margin-top: 1.7%;
}

.personal-information h5{
    margin-top: 0%;
}

.personal{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}

.personal ul{
    list-style: none;
    float: left;
}

.medical{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}


.medical ul{
    list-style: none;
    float: left;
}

.addressing{
    text-align: left;
}


.addressing ul{
    list-style: none;
    float: left;
}

/*Modal*/

.modal{
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.modal-show{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}


/*Form*/

form{
    background-color: #12212b;
    padding: 10px;
}

.label-hover{
    cursor: pointer;
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
}

button{
    width: 30%;
    height: 30px;
    background-color: #12212b;
    border-color: #0ff5fc;
    border-radius: 10px;
    color: #0ff5fc;
    transition: 0.5s;
}

.button-hover{
    cursor: pointer;
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
}


/*Profile Update Form*/

.edit-profile{
    width: 80%;
    height: 60%;
    margin-top: 7.5%;
    margin-left: 10%;
}

.edit-profile h4{
    text-align: center;
}

.edit-profile textarea{
    background-color: #12212b;
    color: #0ff5fc;
    border: none;
    border-bottom: 1px solid #0ff5fc;
    padding: 5px;
    resize: none;
    width: 95%;
    overflow: hidden;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.edit-profile textarea:focus{
    outline: none;
}

.edit-profile input{
    border: none;
    border-bottom: 1px solid #0ff5fc;
    background-color: #12212b;
}

.form-wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
}

.profile-general-information{
    text-align: center;
}

.profile-general-information textarea{
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 90%;
}

.profile-information{
    padding-left: 10px;
}

.profile-information hr{
    border: none;
    border-bottom: 1px solid cyan;
}

.personal-info-edit{
    display: grid;
    grid-template-columns: 50% 50%;
}

.personal-info-edit input{
    border: none;
    border-bottom: 1px solid #0ff5fc;
    background-color: #12212b;
    color: #0ff5fc;
    text-align: center;
    margin-left: 10px;
}

.personal-info-edit select{
    border: none;
    border-bottom: 1px solid #0ff5fc;
    background-color: #12212b;
    margin-left: 10px;
    text-align-last: center;
    color: #0ff5fc;
}

.addressing-info-edit select{
    width: 30%;
    background-color: #12212b;
    color: #0ff5fc;
    border: none;
    border-bottom: 1px solid #0ff5fc;
    text-align-last: center;
}

/*Edit Profile Picture Form*/

.edit-profile-picture{
    width: 50%;
    height: 70%;
    margin-left: 25%;
    text-align: center;
}

#profile-pic-input{
    display: none;
}

.selected-picture{
    max-width: 300px;
    overflow: hidden;
    margin: auto;
}

.profile-pic-selected{
    width: 100%;
    height: auto;
}

label[for=id_profile_pic]{
    padding: 5px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #0ff5fc;
    transition: 0.5s;
}

.label-hover{
    cursor: pointer;
    background-color: #0ff5fc;
    color: #12212b;
    transition: 0.5s;
}

.edit-profile-picture button{
    width: 20%;
}

/*Edit Profile Background Form*/

.edit-background-picture{
    width: 50%;
    height: 70%;
    margin-left: 25%;
    text-align: center;
}

#background-pic-input{
    display: none;
}

.selected-picture{
    max-width: 300px;
    overflow: hidden;
    margin: auto;
}

.background-pic-selected{
    width: 100%;
    height: auto;
}

label[for=id_background_pic]{
    padding: 5px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #0ff5fc;
    transition: 0.5s;
}

.edit-background-picture button{
    width: 20%;
}