/*////////////////////////////////////////////////////////// Body ////////////////////////////////////////////////////*/

body{
    height: 190vh;
    width: 200vw;
}

/*////////////////////////////////////////////////////////// Icons ///////////////////////////////////////////////////*/

.fa-long-arrow-alt-left, .fa-bars, .fa-users{
    position: absolute;
}

.fa-long-arrow-alt-left{
    top: -1%;
}

.fa-bars{
    left: 3%;
}

.fa-users{
    left: 96.5%;
}

/*///////////////////////////////////////////////////// Glass Effect /////////////////////////////////////////////////*/


#profile-card, #user-details, #profile-edit-form{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-clip: padding-box;
    animation: show-up 1s linear forwards;
}

/*/////////////////////////////////////////////////////// Profile Card ///////////////////////////////////////////////*/

#profile-card{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 55%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.fa-edit{
    position: absolute;
    top: 5%;
    left: 96%;
}

.fa-user-plus, .fa-user-slash, .fa-trash{
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 96%;
    transition: 0.5s;
}

.fa-user-plus-hover{
    color: #25BB41;
    transition: 0.5s;
}

.fa-user-slash-hover{
    color: #A31621;
    transition: 0.5s;
}

.fa-trash-hover{
    color: #A31621;
    transition: 0.5s;
}

.fa-circle{
    font-size: 12px;
    padding-right: 10px;
    animation: glow 1.5s linear infinite;
}

#available{
    color: #359e23;
}

#busy{
    color: #9e2323;
}

#status{
    width: 11%;
    text-align: right;
    position: absolute;
    top: -5%;
    left: 88.5%;
}

/*/////////////////////////////////////////////////////// Profile Picture ////////////////////////////////////////////*/


#profile-picture-container{
    width: 40%;
    height: 90%;
    position: absolute;
    top: 30%;
    left: 5%;
    margin-right: -50%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.profile-picture-edit-button{
    font-size: 25px;
    position: absolute;
    top: 4%;
    left: 88%;
    z-index: 2;
}

.fa-camera{
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}

.fa-camera-hover{
    color: #359e23;
    transition: 0.5s;
}

#profile-picture{
    border-radius: 25px;
    width: 100%;
    height: auto;
}

#no-profile-picture-message{
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 1;
}

.no-profile-picture-icon{
    cursor: default;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 32px;
}


#user-information{
    position: absolute;
    top: 0%;
    left: 27%;
    width: 50%;
}

h3{
    margin-left: 27.5%;
    margin-top: 30%;
}

#activity{
    position: relative;
    top: 85%;
    left: 4%;
}

/*/////////////////////////////////////////////////////// About Section //////////////////////////////////////////////*/


#about-user{
    width: 65%;
    height: 30%;
    max-height: 30%;
    padding: 5px 20px;
    text-align: justify;
    overflow-y: auto;
    position: absolute;
    top: 75%;
    left: 62%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.2);
    z-index: 1;
}

#contacts-count{
    margin-top: 5%;
}

.fa-arrow-alt-circle-down{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 94%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: color 0.5s, transform 0.5s;
}

.fa-arrow-alt-circle-down-hover{
    color: #25BB41;
    transition: 0.5s;
}

.arrow-rotate{
    transform: rotate(180deg);
    transition: 0.5s;
}

/*/////////////////////////////////////////////// Profile User Details ///////////////////////////////////////////////*/

#user-details{
    position: absolute;
    top: 105%;
    left: 15%;
    width: 70%;
    height: 72%;
    border-radius: 25px;
    padding: 20px;
}

h4{
    margin-left: 2%;
}

hr{
    border: none;
    border-bottom: 1px solid #FFFFFF;
}

/*////////////////////////////////////////////////// Profile Edit Form ///////////////////////////////////////////////*/


#profile-edit-form{
    position: absolute;
    top: 15%;
    left: 110%;
    width: 80%;
    height: 70%;
    border-radius: 25px;
    padding: 20px;
}

/*///////////////////////////////////////////////////// Forms ////////////////////////////////////////////////////////*/

.form-wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
}

.label-hover{
    cursor: pointer;
    background-color: #496897;
    color: #496897;
    transition: all 0.5s;
}

button{
    width: 30%;
    height: 30px;
    transition: all 0.5s;
}

/*//////////////////////////////////////////////// Profile Update Form ///////////////////////////////////////////////*/


.edit-profile{
    width: 100%;
    height: 100%;
}

.personal-info-edit{
    display: grid;
    grid-template-columns: 50% 50%;
}

.edit-profile h4{
    text-align: center;
}

.edit-profile textarea{
    border: none;
    border-bottom: 1px solid #FFFFFF;
    resize: none;
    width: 95%;
}

.profile-general-information{
    text-align: center;
}

.profile-general-information textarea{
    text-align: justify;
    width: 90%;
}

.profile-information{
    padding-left: 10px;
}

.profile-information select{
   height: 22px;
}

#id_tzone, #id_location{
    width: 25%;
}

#id_address{
    overflow: hidden;
}

/*////////////////////////////////////////////// Profile Picture Form ////////////////////////////////////////////////*/

.edit-profile-picture{
    width: 50%;
    height: 20%;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

#profile-pic-input{
    display: none;
}

.selected-picture{
    max-width: 300px;
    overflow: hidden;
    margin: auto;
}

.profile-pic-selected{
    width: 100%;
    height: auto;
}

label[for=id_profile_pic]{
    padding: 5px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #FFFFFF;
    transition: 0.5s;
}

.label-hover{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s;
}

.edit-profile-picture button{
    width: 20%;
}