/*Checked*/
/*First Div*/
.wrapper{
    display: grid;
    grid-template-columns: 30% 69%;
    grid-gap: 5px;
    margin: auto;
    margin-top: 3%;
    width: 80%;
    background-color: #12212b;
    border-radius: 10px;
}

.first{
    background-color: #0ff5fc;
    border-radius: 10px;
    color: #12212b;
    padding: 10px;
    text-align: center;
}


/*Images*/
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #3262a8;
    transition: 0.5s;
}

.image-hover{
    width: 230px;
    height: 230px;
    transition: 0.5s;
}


/*Links*/
.first a{
    color: #12212b;
    border-bottom: 1px solid #12211b;
    transition: 0.5s;
}

.link-hover{
    font-size: 16px;
    transition: 0.5s;
}

#bio{
    text-align: justify;
    font-size: 16px;
    transition: 0.1s;
    overflow: auto;
    padding: 10px;
    max-width: 100%;
    max-height: 100px;
}

::-webkit-scrollbar-thumb {
    background: #12211b;
}


/*Second Div*/
#second .personal-info{
    display: grid;
    grid-template-columns: 45% 45%;
}

#second h1{
    text-align: center;
    padding: 5px;
    border-bottom: 0.5px solid cyan;
}

#second li{
    list-style: none;
}

