/*Checked*/
/*Form*/
form{
    text-align: center;
    width: 70%;
    height: 70%;
    margin-top: 10%;
    margin-left: 15%;
}

.wrapper{
    display: grid;
    grid-template-columns: 40% 59%;
    grid-gap: 1%;
}

.personal-info{
    background-color: #12212b;
}

.account-info{
    background-color: #12212b;
    padding-top: 20%;
}

h1{
    padding: 25px;
}

/*Inputs*/
span{
    color: red;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #0ff5fc;
  background-color: #12212b;
  border: none;
  border-bottom: 1px solid #0ff5fc;
  height: 30px;
  width: 60%;
  transition: 0.5s;
}

input:focus{
    outline: none;
}

input[type=password]{
    font: small-caption;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #0ff5fc;
  background-color: #12212b;
  border: none;
  border-bottom: 1px solid #0ff5fc;
  height: 30px;
  transition: 0.5s;
}

select:focus{
    outline: none;
}

.hide-select{
    display: none;
    transition: display 0.5s;
}

/*Button*/
button{
    margin: 20px;
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #12212b;
    border: 2px solid #0ff5fc;
    border-radius: 10px;
    color: #0ff5fc;
    opacity: 0;
    transition: 0.5s;
}

.button-fade-in{
    opacity: 1;
    transition: opacity 0.5s;
}

.button-hover{
    background-color: #0ff5fc;
    color: #12212b;
    cursor: pointer;
    transition: 0.5s;
}