/*Checked*/
/*Form*/
form{
    text-align: center;
    background-color: #12212b;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -40%);
}

h1{
    padding: 25px;
}

p{
    font-size: 20px;
}

/*Inputs*/
span{
    color: red;
}

input{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  color: #0ff5fc;
  background-color: #12212b;
  border: 2px solid #0ff5fc;
  border-radius: 15px;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

input[type=password]{
    font: small-caption;
}

.input-hover{
  width: 75%;
  transition: 0.5s;
}

select{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align-last:center;
  color: #0ff5fc;
  background-color: #12212b;
  border: 2px solid #0ff5fc;
  border-radius: 15px;
  height: 30px;
  width:60%;
  transition: 0.5s;
}

.hide-select{
    display: none;
    transition: display 0.5s;
}

/*Button*/
button{
    margin: 20px;
    width: 30%;
    height: 30px;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #12212b;
    border: 2px solid #0ff5fc;
    border-radius: 10px;
    color: #0ff5fc;
    opacity: 0;
    transition: 0.5s;
}

.button-fade-in{
    opacity: 1;
    transition: opacity 0.5s;
}

.button-hover{
    background-color: #0ff5fc;
    color: #12212b;
    cursor: pointer;
    transition: 0.5s;
}